/* ========================= */
/* ! Control Panel Styling   */
/* ========================= */

div#infinity-cpanel {
	margin-top: 10px;
	padding: 5px;
}
	div#infinity-cpanel hr {
		height: 2px;
		margin: 0 0 5px 0;
		border-style: dotted;
	}
	div#infinity-cpanel div.infinity-cpanel-tab {
		padding: 0.75em 0.25em;
	}
	
div#infinity-cpanel-toolbar {
	padding: 0 0 5px 0;
}
	div#infinity-cpanel-toolbar .ui-button {
		padding: 2px;
		top: 4px;
	}
	div#infinity-cpanel-toolbar .ui-button-icon-only {
		width: 1.2em;
	}
	div#infinity-cpanel-toolbar .ui-button-text {
		line-height: 100%;
	}
	a#infinity-cpanel-toolbar-menu.ui-button {
		padding: 0px;
		top: 0px;
	}
	a#infinity-cpanel-toolbar-refresh.ui-button {
		float: right;
		top: 2px;
		right: 8px;
		padding: 2px;
		font-size: 10px;
	}

ul#infinity-cpanel-tabs {
	font-size: 12px;
}
	ul#infinity-cpanel-tabs li a {
		padding: 0.25em 1em;
	}
	ul#infinity-cpanel-tabs li .ui-icon-close {
		float: right;
		cursor: pointer;
	}

/* ================ */
/* ! Theme Options  */
/* ================ */

div#infinity-cpanel-options {
}

div.infinity-cpanel-options-menu {
	float: left;
	width: 220px;
}
div.infinity-cpanel-options-menu ul.ui-accordion-content li {
	line-height: 100%;
}
	div.infinity-cpanel-options-menu .ui-accordion-content {
		padding: 0.5em 1.1em;
	}

	.ui-accordion-header a.infinity-cpanel-options-menu-showall {
		padding: 0;
		font-size: 10px;
		position: absolute;
		top: 8px;
		right: 4px;
	}
	.ui-accordion-header a.infinity-cpanel-options-menu-showall span {
		padding: 1px 5px;
	}

div.infinity-cpanel-options-submenu {
	float: none;
	width: auto;
}

div#infinity-cpanel-options-content {
	padding: 0px 10px 10px 235px;
}
div#infinity-cpanel-options-content code {
	display: block;
	white-space: pre;
	margin-bottom: 10px;
	padding: 4px;
}

div#infinity-cpanel-options-flash {
	display: none;
}

div.infinity-cpanel-options-single {
	width: 100%;
	padding-left: 7px;
	margin-bottom: 15px;
}
	div.infinity-cpanel-options-single ul.ui-tabs-nav {
		padding-top: 0.1em;
	}
		div.infinity-cpanel-options-single ul.ui-tabs-nav li {
		}
			div.infinity-cpanel-options-single ul.ui-tabs-nav li a {
				line-height: 90%;
				font-size: 10px;
			}

	div.infinity-cpanel-options-single div.ui-tabs-panel {
		padding: 0.5em 1em 0.25em 1em;
	}
		div.infinity-cpanel-options-single div.ui-tabs-panel div.infinity-cpanel-options-last-modified {
			line-height: 9px;
			font-size: 9px;
			text-align: right;
		}

div.infinity-cpanel-options-single-flash {
	display: none;
}
	div.infinity-cpanel-options-single-flash div.pie-easy-flash {
		margin-bottom: 10px;
	}

div.infinity-cpanel-options-single-header {
	height: 25px;
	padding: 5px;
}
	div.infinity-cpanel-options-single-header label {
		display: block;
		float: left;
		margin-top: 5px;
	}
	div.infinity-cpanel-options-single-header a {
		display: block;
		float: right;
		margin-left: 7px;
	}
	div.infinity-cpanel-options-single-header a .ui-button-text {
		font-size: 11px;
		padding: 0.2em 2.1em 0.2em 1em;
	}

textarea.infinity-cpanel-option-field-css {
	width: 90%;
	height: 400px;
}

/* ====================== */
/* ! Theme Documentation  */
/* ====================== */

.infinity-docs {
	font-family: "Verdana","Arial","sans-serif";
	font-size: 12px;
}
.infinity-docs p,
.infinity-docs ul,
.infinity-docs ol {
	margin: 0 0 1.5em 0;
}
.infinity-docs blockquote {
	margin: 0 0 1.5em 1em;
	font-style: italic;
}
.infinity-docs pre code {
	display: inline-block;
	font-size: 12px;
	margin: 0;
	padding: 1px 5px;
}
.infinity-docs pre {
	margin: 0 0 1.5em 1em;
}
.infinity-docs h1,
.infinity-docs h2,
.infinity-docs h3,
.infinity-docs h4,
.infinity-docs h5,
.infinity-docs h6 {
	margin: 0.1em 0 .6em 0;
	font-weight: bold;
	border-bottom: 1px solid #eee;
	font-family: arial,verdana,sans-serif;
}
.infinity-docs ul,
.infinity-docs ol {
	margin: .3em 0 1.5em 1em;
}
.infinity-docs ol {
	list-style-type: decimal;
}
.infinity-docs ul {
	list-style-type: disc;
}
.infinity-docs ul li,
.infinity-docs ol li {
	margin-left: 1.4em;
	padding-left: 0;
}
.infinity-docs em {
	font-weight: bold;
}
