/* ================ */
/* ! Theme Options  */
/* ================ */

div#infinity-cpanel-options {
	border: 0;
}
	div#infinity-cpanel-options .ui-accordion-header {
		font-size: 13px;
		-moz-border-radius: 0;
		-webkit-border-radius: 0;
		border-radius: 0;
	}
	div#infinity-cpanel-options .ui-accordion .ui-accordion-header a {
		font-weight: bold;
	}
	div#infinity-cpanel-options .ui-accordion-content {
		padding: 0 0 5px 10px;
		background: #f9f9f9;
		-moz-border-radius: 0;
		-webkit-border-radius: 0;
		border-radius: 0;
	}
	div#infinity-cpanel-options .ui-accordion-content li {
		font-size: 14px;
		line-height: 100%;
		margin-top: 9px;
		padding-top: 2px;
	}
	div#infinity-cpanel-options .ui-accordion-header a.infinity-cpanel-options-menu-showall {
		padding: 0;
		font-size: 10px;
		position: absolute;
		top: 6px;
		right: 4px;
	}
	div#infinity-cpanel-options .ui-accordion-header a.infinity-cpanel-options-menu-showall span {
		height: 11px;
		line-height: 14px;
		margin-bottom: 0;
		padding: 1px 5px 3px 5px;
		font-size: 10px;
	}
	div#infinity-cpanel-options div.infinity-cpanel-options-menu {
		float: left;
		width: 240px;
	}

div#infinity-cpanel-options div.infinity-cpanel-options-submenu {
	float: none;
	width: auto;
}
	div#infinity-cpanel-options div.infinity-cpanel-options-submenu .ui-accordion-header {
		background: none;
		border: 0 none;
	}
	div#infinity-cpanel-options div.infinity-cpanel-options-submenu .ui-accordion-header a {
		border: none;
		color: #666666;
	}
	div#infinity-cpanel-options div.infinity-cpanel-options-submenu .ui-accordion-content {
		border: none;
	}
	div#infinity-cpanel-options div.infinity-cpanel-options-submenu .ui-accordion-content li {
		border: none;
		padding-left: 20px;
		font-size: 90%;
	}
	div#infinity-cpanel-options div.infinity-cpanel-options-submenu .ui-accordion-content span.ui-icon {
		opacity: 0.3;
	}

div#infinity-cpanel-options-content {
	padding: 0px 10px 10px 255px;
}
div#infinity-cpanel-options-content code {
	display: block;
	margin-bottom: 10px;
	white-space: pre;
}

div#infinity-cpanel-options-flash {
	display: none;
}

div.infinity-cpanel-options-single {
	width: 99%;
	padding: 3px;
	margin-bottom: 15px;
	background: url(../images/ui_pattern_bg.png) repeat;
}
	div.infinity-cpanel-options-single ul.ui-tabs-nav {
		padding-top: 0.2em;
	}
		div.infinity-cpanel-options-single ul.ui-tabs-nav li {
		}
			div.infinity-cpanel-options-single ul.ui-tabs-nav li a {
				line-height: 90%;
				font-size: 10px;
			}

	div.infinity-cpanel-options-single div.ui-tabs-panel {
		background: #f8f8f8;
		padding: 0.5em 1em 1em 1em;
	}

div.infinity-cpanel-options-single-flash {
	display: none;
}
	div.infinity-cpanel-options-single-flash div.ice-flash {
		margin-bottom: 10px;
	}

div.infinity-cpanel-options-single-header {
	height: 25px;
	padding: 5px;
}
	div.infinity-cpanel-options-single-header label {
		display: block;
		float: left;
		margin: 2px 0 0 10px;
		font-weight: bold;
	}
	div.infinity-cpanel-options-single-header a.ui-button {
		display: block;
		float: right;
		margin-left: 7px;
	}
	div.infinity-cpanel-options-single-header a .ui-button-text {
		font-size: 11px;
	}

div.infinity-cpanel-options-single textarea {
	width: 90%;
}