
/**
 * @section admin
 */

.colorpicker {
	z-index: 1000;
}

div.pie-easy-exts-options-colorpicker-launcher {
	display: inline-block;
	position: relative;
	width: 36px;
	height: 36px;
	vertical-align: top;
	background: url(images/launch.png);
}
div.pie-easy-exts-options-colorpicker-launcher div {
	position: absolute;
	top: 3px;
	left: 3px;
	width: 30px;
	height: 30px;
	background: url(images/launch.png) center;
}