div.pie-easy-exts-widget-posts-list {
	width: 700px;
}
div.pie-easy-exts-widget-posts-list div.ui-widget-header,
div.pie-easy-exts-widget-posts-list div.ui-widget-content {
	padding: .5em;
}
	div.pie-easy-exts-widget-posts-list ul li {
		margin: 5px 0px 5px 0px;
	}
	div.pie-easy-exts-widget-posts-list ul li div.pie-easy-posts-list-item-content {
		height: 32px;
		padding-top: 5px;
		padding: 5px 15px 0 15px;
	}
	div.pie-easy-exts-widget-posts-list ul li a.pie-easy-posts-list-item-title {
		display: inline-block;
		font-size: 14px;
		font-weight: bold;
		margin-top: 5px;
	}
	div.pie-easy-exts-widget-posts-list ul li div.pie-easy-posts-list-item-actions {
		display: inline-block;
		float: right;
	}
	div.pie-easy-exts-widget-posts-list ul li a.pie-easy-posts-list-item-trash {
		margin-left: 10px;
	}
	div.pie-easy-exts-widget-posts-list ul ul {
		margin-left: 20px;
	}
