
/*--------------------------------------------------------------
0 - Infinity
--------------------------------------------------------------*/
/*--------------------------------------------------------------
0.1 - Global
--------------------------------------------------------------*/
body {
	min-width: inherit;
}
.mobile-menu-container {
	display: none;
}
.mobile-menu-container select {
	width: 60%;
	box-shadow: none;
} 
.mobile-menu-container a.button {
	position: absolute;
	right: 10px;
	top: -1px;
	box-shadow: 0 1px 1px #afafaf, 0 1px 0 #868686 inset;
	font-size: 75%;
	padding: 2px 8px;
	text-transform: uppercase;
	top: -1px;
}
.mobile-menu-container a.button:hover {
	opacity: 0.8;
	color: #ddd;
}
.mobile-menu-container #loginlogout {
	right: 110px;
}
/*--------------------------------------------------------------
1 - Tablets
--------------------------------------------------------------*/
/*--------------------------------------------------------------
1.1 - Tablets - Landscape
--------------------------------------------------------------*/
@media only screen and (max-width: 1050px) {
	/* nothing yet */
}
@media only screen and (max-width: 768px) { 
	.mobile-menu-container {
		width: 100%;
		z-index: 1000;
		background: #222;
		border-bottom: 1px solid #292525;
		border-top: 2px solid #525151;
		box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), 0 -1px 0 rgba(0, 0, 0, 0.1) inset;
		display: block;
		margin-top: -1px;
		padding-left: 20px;
		padding-right: 20px;
		padding-top: 10px;
		position: fixed;
		top: 1px;
		height: 50px;
	}
	.mobile-menu-container select {
		box-shadow: none;
		width: 60%;
	}
	html.js {
		margin-top: 0 !important;
	}
	.infinity-wp #wrapper { 
		margin: 0 10px 10px; 
	}
	.infinity-wp #wpadminbar {
		display: none;
	}
	.infinity-wp #sidebar { 
		min-height: auto !important;
	}
	.infinity-wp #content .padder {
		margin-right: 0;
		width: auto;
		float: none;
		border: none;
	}
	.infinity-wp .callout-box,
	.infinity-wp #feature-box h3 {
		display: none;
	}
	.infinity-wp .callout-box {
		padding: 0px;
	}
	.infinity-wp img,
	.infinity-wp fieldset {
		max-width: 100%;
		height: auto;
	}
	.infinity-wp .sf-menu,
	.infinity-wp #top-menu-wrap,
	.infinity-wp #sub-menu-wrap {
		display: none;
	}
	.infinity-wp #main-menu-wrap {
		margin: 0 !important;
		padding: 0px !important;
	}
	.infinity-wp .post-category,
	.infinity-wp .time-posted {
		display: none;
	}
	.infinity-wp .button {
		display: block;
	}
	.infinity-wp button.button {
		width: 100%;
		padding-left: 0px;
		padding-right: 0px;
	}
	.infinity-bp #buddypress div.item-list-tabs select {
		margin-left: 20px;
		margin-top: 10px;
	}
	.infinity-bp #buddypress #user-header-nav {
		display: block !important;
	}
	.infinity-bp #buddypress #subnav select {
		margin-top: 5px;
	}
	.infinity-bp #buddypress #item-header-avatar img.avatar {
		width: 40%;
	}
	.infinity-bp #buddypress .activity-list .activity-content {
		margin-left: 0;
	}
	.infinity-bp #buddypress .activity-avatar {
		display: none;
	}
}
/*--------------------------------------------------------------
1.2 - Tablets - Portrait
--------------------------------------------------------------*/
@media only screen and (max-width: 640px) {
	.mobile-menu-container select {
		box-shadow: none;
		width: 55%;
	}
	.infinity-wp #feature-box #callout-button {
		position: inherit;
		position: inherit;
		right: inherit;
		top: inherit;
	}
	.infinity-wp li.featured-item {
		text-align: center;
	}
	.infinity-bp #buddypress div.dir-search {
		float: none;
		width: auto;
		text-align: left;
		margin: 1.25em 0 0;
		position: inherit;
	}
	.infinity-bp #buddypress #item-header #item-header-content {
		margin-left: 0px;
	}
	.infinity-bp #buddypress #item-header img.avatar {
		height: 80px !important;
		width: 80px !important;
	}
	.infinity-bp #buddypress #item-header ul img.avatar,
	.infinity-bp #buddypress #item-header ul.avatars img.avatar {
		height: 30px !important;
		margin: 2px;
		width: 30px !important;
	}
	.infinity-bp #buddypress .activity-comments {
		margin: 0;
	}
	.infinity-bp #buddypress .activity-header p {
		line-height: 280% !important;
	}
	.infinity-bp #buddypress .activity-list .activity-content .activity-header img.avatar {
		display: none;
	}
	.infinity-bp #buddypress ul.item-list li div.action {
		margin-left: 0;
		padding-left: 64px;
		position: relative;
		right: auto;
		text-align: left;
		top: 1em;
		margin-bottom: 1.25em;
	}
	.infinity-bp #buddypress .activity-list li.mini {
		display: none;
	}
}
/*--------------------------------------------------------------
2 - Smartphones
--------------------------------------------------------------*/
/*--------------------------------------------------------------
2.0 - Smartphones - landscape
--------------------------------------------------------------*/
@media only screen and (max-width: 480px) { 
	body {
		width: 100%;
	}
	.mobile-menu-container select {
		box-shadow: none;
		width: 45%;
	}
	.infinity-wp#infinity-base #header {
		text-align: center;
		padding: 10px;
		height: inherit;
	}
	.infinity-wp#infinity-base #header .icext-header-logo a {
		position: relative;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		height: auto;
		width: auto;
	}
	.infinity-wp #logo-menu-wrap {
		padding: 0;
	}
	.infinity-wp #logo-menu-wrap img {
		max-width: 80%;
	}
	.infinity-wp #copyright-info {
		text-align: center;
	}
	.infinity-wp #site-title {
		top: 10% !important;
	}
	.infinity-bp #buddypress div.dir-search label {
		max-width: 60%;
	}
	.infinity-bp #buddypress div.dir-search input[type="text"] {
		width: 90%;
	}
	.infinity-bp #buddypress .activity-list li.mini .activity-content p {
		width: 440% !important;
	}
	.infinity-bp #buddypress .item-list-tabs ul {
		padding-top: 0;
	}
	.infinity-bp #buddypress .item-list-tabs ul li {
		margin-top: 0;
	}
	.infinity-bp #buddypress .item-list-tabs ul li.last {
		float: none;
		margin: 0.3em 0.6em;
	}
	.infinity-bp #buddypress #subnav.item-list-tabs ul li.last {
		margin-top: 1em;
	}
	.infinity-bp #buddypress #subnav ul {
		padding-top: 0.6em;
	}
	.infinity-bp #buddypress div.pagination {
		padding: 0.6em;
	}
	.infinity-bp #buddypress form.standard-form #basic-details-section,
	.infinity-bp #buddypress form.standard-form #blog-details-section,
	.infinity-bp #buddypress form.standard-form #profile-details-section {
		float: none;
		width: 100%;
	}
	.infinity-bp #buddypress .item-list-tabs {
		height: auto !important;
	}
}
/*--------------------------------------------------------------
2.1 - Smartphones - portrait
--------------------------------------------------------------*/
@media only screen and (max-width: 375px) {
	.mobile-menu-container select {
		box-shadow: none;
		width: 40%;
	}
	.infinity-wp #sidebar {
		width: 100% !important;
	}
	.infinity-bp #buddypress #groups-directory-form h3 a {
		display: block;
		margin-top: 0.6em;
	}
	.infinity-bp #buddypress form#whats-new-form #whats-new-avatar {
		display: none;
	}
	.infinity-bp #buddypress form#whats-new-form h5 {
		margin: 0 0 0 0px;
	}
	.infinity-bp #buddypress form#whats-new-form #whats-new-options {
		font-size: 10px;
		padding-bottom: 0;
	}
	.infinity-bp #buddypress form#whats-new-form #whats-new-content {
		margin-left: 0px;
		padding-left: 0px;
	}
	.infinity-bp #buddypress form#whats-new-form #whats-new-post-in {
		max-width: 50%;
		margin-top: 0;
	}
	.infinity-bp #buddypress form#whats-new-form #whats-new-submit {
		margin-top: 20px;
	}
	.infinity-bp #buddypress form#whats-new-form #whats-new-submit input {
		padding: 2px 6px;
	}
	.infinity-bp.activity-permalink #buddypress .activity-list li.mini .activity-meta {
		left: 0;
	}
}