/*********************/
/*   wordpress.css   */
/*********************/

/* ! The Reset
================================================== */

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }
audio, canvas, video { display: inline-block; *display: inline; *zoom: 1; }
audio:not([controls]) { display: none; }
[hidden] { display: none; }

html { font-size: 100%; overflow-y: scroll; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }
body { margin: 0; /* add your base font-size and line-height here */ }
button, input, select, textarea { font-family: sans-serif; }

a { text-decoration: none; }
a:focus { outline: thin dotted; }
a:hover, a:active { outline: 0; }

abbr[title] { border-bottom: 1px dotted; }
b, strong { font-weight: bold; }
blockquote { margin: 1em 40px; }
dfn { font-style: italic; }
hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }
pre, code, kbd, samp { font-family: monospace, serif; _font-family: 'courier new', monospace; font-size: 1em; }
pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; }
q { quotes: none; }
q:before, q:after { content: ""; content: none; }
small { font-size: 85%; }
sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }
dd { margin: 0 0 0 40px; }
nav ul, nav ol { list-style: none; list-style-image: none; margin: 0; padding: 0; }
img { border: 0; -ms-interpolation-mode: bicubic; vertical-align: middle; }
svg:not(:root) { overflow: hidden; }
figure { margin: 0; }

form { margin: 0; }
fieldset { border: 0; margin: 0; padding: 0; }
label { cursor: pointer; }
legend { border: 0; *margin-left: -7px; padding: 0; }
button, input, select, textarea { font-size: 100%; margin: 0; vertical-align: baseline; *vertical-align: middle; }
select {
	background-color: #FFFFFF;
	border: 1px solid #C4C1C1;
	border-radius: 2px 2px 2px 2px;
	box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.17);
	color: #777777;
	font-size: 90%;
	font-weight: bold;
	padding: 4px 2px 2px;
}
button, input { line-height: normal; }
button, input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer; -webkit-appearance: button; *overflow: visible; }
input[type="checkbox"], input[type="radio"] { box-sizing: border-box; padding: 0; }
input[type="search"] { -webkit-appearance: textfield; -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; }
input[type="search"]::-webkit-search-decoration { -webkit-appearance: none; }
button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }
textarea { overflow: auto; vertical-align: top; resize: vertical; }
input:valid, textarea:valid {  }
input:invalid, textarea:invalid { background-color: #f0dddd; }

table { border-collapse: collapse; border-spacing: 0; }
td { vertical-align: top; }

/* Lists ---------------------- */
ul, ol { list-style-position: inside; }
ul li ul { margin-left: 20px; margin-bottom: 0; list-style: outside; }
ul.square, ul.circle, ul.disc { margin-left: 17px; }
ul.square { list-style-type: square; }
ul.square li ul { list-style: inherit; }
ul.circle { list-style-type: circle; }
ul.circle li ul { list-style: inherit; }
ul.disc { list-style-type: disc; }
ul.disc li ul { list-style: inherit; }
ul.no-bullet { list-style: none; }
ul.large li { line-height: 21px; }

/* Tables ---------------------- */
table {
	width: 100%;
	margin-bottom: 18px;
}
th, td {
	padding: 8px;
	line-height: 18px;
	text-align: left;
	border-top: 1px solid #ddd;
}
th {
	font-weight: bold;
	vertical-align: bottom;
}
td {
	vertical-align: middle;
}
thead:first-child tr th, thead:first-child tr td {
	border-top: 0;
}
tbody + tbody {
	border-top: 2px solid #ddd;
}
.post dl { margin-bottom: 18px }
.post dl dt { font-weight: bold }
.muted { color: #bfbfbf }
blockquote {
	margin-bottom: 18px;
	border-left: 5px solid #eee;
	padding-left: 15px;
}
blockquote small {
	display: block;
	font-size: 85.7%;
	font-weight: 300;
	line-height: 18px;
	color: #bfbfbf;
}
blockquote p {
	font-size: 100%;
	font-weight: 300;
	margin-bottom: 0;
}
address {
	display: block;
	line-height: 18px;
	margin-bottom: 18px;
}
code, pre {
	padding: 0 3px 2px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
code {
	background-color: #fee9cc;
	color: rgba(0, 0, 0, 0.75);
	padding: 1px 3px;
}
pre {
	display: block;
	padding: 8.5px;
	margin: 0 0 18px;
	line-height: 18px;
	font-size: 85.7%;
	border: 1px solid #ccc;
	border: 1px solid rgba(0, 0, 0, 0.15);
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	white-space: pre;
	white-space: pre-wrap;
	word-wrap: break-word;
}
pre code {
	background: transparent;
}
legend {
	display: block;
	font-size: 19.5px;
	color: #666;
}
label,
input,
select,
textarea {
	font-size: 13px;
	font-weight: normal;
	line-height: 18px;
	margin-bottom: 10px;
}
label {
	color: #999999;
	display: block;
	font-size: 80%;
	font-weight: bold;
	margin: 5px 0;
	text-transform: uppercase;
}
label ul {
	padding: 0;
}
label li {
	text-transform: none;
	color: inherit;
	font-weight: normal;
}
input[type=image], input[type=checkbox], input[type=radio] {
	width: auto;
	height: auto;
	padding: 0;
	margin: 3px;
	*margin-top: 0;
	/* IE6-7 */
	line-height: normal;
	border: none;
	cursor: pointer;
}
input[type=file] {
	padding: initial;
	line-height: initial;
	border: initial;
	background-color: #ffffff;
	background-color: initial;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}
input[type=button], input[type=reset], input[type=submit] {
	width: auto;
	height: auto;
}
select, input[type=file] {
	*margin-top: 4px;
	/* For IE7, add top margin to align select with labels */
	line-height: 27px;
}
select[multiple], select[size] {
	height: inherit;
}
input[type=image] {
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}
textarea {
	height: auto;
}
.radio, .checkbox {
	padding-left: 18px;
}
.radio input[type=radio], .checkbox input[type=checkbox] {
	float: left;
	margin-left: -18px;
 }
input, textarea {
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.1);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.1);
	-webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
	-moz-transition: border linear 0.2s, box-shadow linear 0.2s;
	-ms-transition: border linear 0.2s, box-shadow linear 0.2s;
	-o-transition: border linear 0.2s, box-shadow linear 0.2s;
	transition: border linear 0.2s, box-shadow linear 0.2s;
	padding: 10px;
}
input:focus, textarea:focus {
	border-color: rgba(82, 168, 236, 0.8);
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.1), 0 0 8px rgba(82, 168, 236, 0.6);
	-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.1), 0 0 8px rgba(82, 168, 236, 0.6);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.1), 0 0 8px rgba(82, 168, 236, 0.6);
	outline: 0;
}
input[type=file]:focus, input[type=checkbox]:focus, select:focus {
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	outline: 1px dotted #666;
}

/* ! The Grid

The Infinity Base Grid.

/*
================================================== */
* {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

/* Fix WP Editor, which assumes W3C box model */
.wp-editor-wrap * {
	box-sizing: content-box;
	-moz-box-sizing: content-box;
	-webkit-box-sizing: content-box;
}

/* Except Quicktags buttons, which do use border-box! */
.wp-editor-wrap .quicktags-toolbar * {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box; 
}

/* The Grid ---------------------- */
.row { width: 1150px; max-width: 100%; min-width: 768px; margin: 0 auto; }
.row .row { width: auto; max-width: none; min-width: 0; margin: 0 -15px; }
.row.collapse .column, .row.collapse .columns { padding: 0; }
.row .row { width: auto; max-width: none; min-width: 0; margin: 0 -15px; }
.row .row.collapse { margin: 0; }

.column, .columns { float: left; min-height: 1px; padding: 0 15px; position: relative; }
.column.centered, .columns.centered { float: none; margin: 0 auto; }

[class*="column"] + [class*="column"]:last-child { float: right; }

[class*="column"] + [class*="column"].end { float: left; }

.row .one { width: 6.25%; }

.row .two { width: 12.5%; }

.row .three { width: 18.75%; }

.row .four { width: 25%; }

.row .five { width: 31.25%; }

.row .six { width: 37.5%; }

.row .seven { width: 43.75%; }

.row .eight { width: 50%; }

.row .nine { width: 56.25%; }

.row .ten { width: 62.5%; }

.row .eleven { width: 68.75%; }

.row .twelve { width: 75%; }

.row .thirteen { width: 81.25%; }

.row .fourteen { width: 87.5%; }

.row .fifteen { width: 93.75%; }

.row .sixteen { width: 100%; }

.row .offset-by-one { margin-left: 6.25%; }

.row .offset-by-two { margin-left: 12.5%; }

.row .offset-by-three { margin-left: 18.75%; }

.row .offset-by-four { margin-left: 25%; }

.row .offset-by-five { margin-left: 31.25%; }

.row .offset-by-six { margin-left: 37.5%; }

.row .offset-by-seven { margin-left: 43.75%; }

.row .offset-by-eight { margin-left: 50%; }

.row .offset-by-nine { margin-left: 56.25%; }

.row .offset-by-ten { margin-left: 62.5%; }

.row .offset-by-eleven { margin-left: 68.75%; }

.row .offset-by-twelve { margin-left: 75%; }

.row .offset-by-thirteen { margin-left: 81.25%; }

.row .offset-by-fourteen { margin-left: 87.5%; }

.push-two { left: 12.5%; }

.pull-two { right: 12.5%; }

.push-three { left: 18.75%; }

.pull-three { right: 18.75%; }

.push-four { left: 25%; }

.pull-four { right: 25%; }

.push-five { left: 31.25%; }

.pull-five { right: 31.25%; }

.push-six { left: 37.5%; }

.pull-six { right: 37.5%; }

.push-seven { left: 43.75%; }

.pull-seven { right: 43.75%; }

.push-eight { left: 50%; }

.pull-eight { right: 50%; }

.push-nine { left: 56.25%; }

.pull-nine { right: 56.25%; }

.push-ten { left: 62.5%; }

.pull-ten { right: 62.5%; }

.push-eleven { left: 68.75%; }

.pull-eleven { right: 68.75%; }

.push-twelve { left: 75%; }

.pull-twelve { right: 75%; }

.push-thirteen { left: 81.25%; }

.pull-thirteen { right: 81.25%; }

.push-fourteen { left: 87.5%; }

.pull-fourteen { right: 87.5%; }

img, object, embed { max-width: 100%; height: auto; }

img { -ms-interpolation-mode: bicubic; }

#map_canvas img, .map_canvas img { max-width: none!important; }

/* Nicolas Gallagher's micro clearfix */
.row { *zoom: 1; }
.row:before, .row:after { content: ""; display: table; }
.row:after { clear: both; }

/* Mobile Grid and Overrides ---------------------- */
@media only screen and (max-width: 767px) { body { -webkit-text-size-adjust: none; -ms-text-size-adjust: none; width: 100%; min-width: 0; margin-left: 0; margin-right: 0; padding-left: 0; padding-right: 0; }
	.row { width: auto; min-width: 0; margin-left: 0; margin-right: 0; }
	.column, .columns { width: auto !important; float: none; }
	.column:last-child, .columns:last-child { float: none; }
	[class*="column"] + [class*="column"]:last-child { float: none; }
	.column:before, .columns:before, .column:after, .columns:after { content: ""; display: table; }
	.column:after, .columns:after { clear: both; }
	.offset-by-one, .offset-by-two, .offset-by-three, .offset-by-four, .offset-by-five, .offset-by-six, .offset-by-seven, .offset-by-eight, .offset-by-nine, .offset-by-ten, .offset-by-eleven, .offset-by-twelve, .offset-by-thirteen, .offset-by-fourteen { margin-left: 0 !important; }
	.push-two, .push-three, .push-four, .push-five, .push-six, .push-seven, .push-eight, .push-nine, .push-ten, .push-eleven, .push-twelve, .push-thirteen, .push-fourteen { left: auto; }
	.pull-two, .pull-three, .pull-four, .pull-five, .pull-six, .pull-seven, .pull-eight, .pull-nine, .pull-ten, .pull-eleven, .pull-twelve, .pull-thirteen, .pull-fourteen { right: auto; }
	/* Mobile 4-column Grid */
	.row .mobile-one { width: 25% !important; float: left; padding: 0 15px; }
	.row .mobile-one:last-child { float: right; }
	.row.collapse .mobile-one { padding: 0; }
	.row .mobile-two { width: 50% !important; float: left; padding: 0 15px; }
	.row .mobile-two:last-child { float: right; }
	.row.collapse .mobile-two { padding: 0; }
	.row .mobile-three { width: 75% !important; float: left; padding: 0 15px; }
	.row .mobile-three:last-child { float: right; }
	.row.collapse .mobile-three { padding: 0; }
	.row .mobile-four { width: 100% !important; float: left; padding: 0 15px; }
	.row .mobile-four:last-child { float: right; }
	.row.collapse .mobile-four { padding: 0; }
	.push-one-mobile { left: 25%; }
	.pull-one-mobile { right: 25%; }
	.push-two-mobile { left: 50%; }
	.pull-two-mobile { right: 50%; }
	.push-three-mobile { left: 75%; }
	.pull-three-mobile { right: 75%; } }
/* Block Grids ---------------------- */
/* These are 2-up, 3-up, 4-up and 5-up ULs, suited
for repeating blocks of content. Add 'mobile' to
them to switch them just like the layout grid
(one item per line) on phones

For IE7/8 compatibility block-grid items need to be
the same height. You can optionally uncomment the
lines below to support arbitrary height, but know
that IE7/8 do not support :nth-child.
-------------------------------------------------- */
.block-grid { display: block; overflow: hidden; padding: 0; }
.block-grid > li { display: block; height: auto !important; float: left; }

.block-grid.one-up > li { width: 100%; padding: 0 0 15px; }

.block-grid.two-up > li { width: 50%; padding: 0 15px 15px; }

/*  .block-grid.two-up>li:nth-child(2n+1) {clear: left;} */

.block-grid.three-up > li { width: 33.33%; padding: 0 12px 12px; }

/*  .block-grid.three-up>li:nth-child(3n+1) {clear: left;} */
.block-grid.four-up { margin: 0 -10px; }

.block-grid.four-up > li { width: 25%; padding: 0 10px 10px; }

/*  .block-grid.four-up>li:nth-child(4n+1) {clear: left;} */

.block-grid.five-up > li { width: 20%; padding: 0 8px 8px; }

/*  .block-grid.five-up>li:nth-child(5n+1) {clear: left;} */
/* Mobile Block Grids */
@media only screen and (max-width: 767px) { .block-grid.mobile { margin-left: 0; }
	.block-grid.mobile > li { float: none; width: 100%; margin-left: 0; } }

/* ! WordPress Support

This CSS file contains all the default WordPress Styling.

// Posts & Pages
	+ Display
	+ Meta & Breadcrumbs
	+ Author/Category/Tag Boxes
	+ Comments
/*
================================================== */
/* Base */
.clear {
	clear: both;
}
/* Post Meta */
.infinity-wp span.edit-link {
	margin-left: 1px;
	margin-right: 9px;
	float: right;
}
.infinity-wp span.edit-link a {
	color: #999;
}
/* The actual Posts*/
.infinity-wp .author-avatar {
	float: left;
	margin-bottom: 0;
	margin-right: 10px;
	margin-top: 0;
}
.infinity-wp .post.sticky {
	padding: 15px 10px 1px 10px;
	background-color: #ffffe5;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
}
.infinity-wp .entry {
	margin-bottom: 30px;
	margin-top: 30px;
}
.infinity-wp .post dd.wp-caption p.wp-caption-text,
.infinity-wp .wp-caption-text {
	font-style: italic;
	line-height: 17px;
	margin: 0 !important;
	padding: 0 4px 5px 0;
	font-size: 12px;
}
.infinity-wp .post-meta-data span {
	border-right: 1px solid #DDD;
	margin-right: 5px;
	padding-right: 5px;
}
.infinity-wp .post .author-box img,
.infinity-wp .comment-avatar-box img {
	float: none;
	margin: 0;
	border: 4px solid #fff;
}
.infinity-wp .post img.alignright {
	margin: 0 0 2px 7px;
	display: inline;
	padding: 4px;
}
.infinity-wp .post img.wp-smiley {
	float: none !important;
	clear: none !important;
	margin: 0 !important;
	border: none !important;
	padding: 0 !important;
}
.infinity-wp .post-content {
	margin-bottom: 60px;
}
.infinity-wp .post img.alignleft {
	margin: 0 7px 2px 0;
	display: inline;
	padding: 4px;
}
.infinity-wp .post .aligncenter {
	text-align: center;
}
.infinity-wp .post .aligncenter,
.infinity-wp .post img.centered,
.infinity-wp img.aligncenter {
	margin-left: auto;
	margin-right: auto;
	display: block;
}
.infinity-wp .post img {
	max-width: 100%;
	height: auto;
}
.infinity-wp .post .wp-caption {
	background-color: #F9F9F9;
	border: 1px solid #DDDDDD;
	border-radius: 3px 3px 3px 3px;
	font-size: 90%;
	font-style: italic;
	padding-bottom: 7px;
	padding-top: 4px;
	text-align: center;
}
.infinity-wp .post .wp-caption img {
	margin: 0;
	border: 0 none;
	padding: 0;
}
.infinity-wp .postthumb {
	margin-bottom: 20px;
}
.infinity-wp .postthumb img {
	max-width: 100%;
	height: auto;
}
.infinity-wp .post .gallery-caption {
	/* nothing yet */
}
.infinity-wp #single-attachment img {
	margin-top: 25px;
	margin-bottom: 25px;
}
/* Post Titles */
/* Captions */
/* Block Quotes */
/* page links */
.infinity-wp .page-link {
	font-weight: bold;
	word-spacing: 0.5em;
	margin: 0 0 22px;
}
.infinity-wp .page-link a:active,
.infinity-wp .page-link a:hover {
	color: #FF4B33;
}
.infinity-wp .page-link a:link,
.infinity-wp .page-link a:visited {
	font-weight: normal;
	border: 1px solid #DDD;
	padding: 5px 8px;
}
/* code in posts */
.infinity-wp .post .alignright {
	margin-left: 15px;
	float: right;
	margin-bottom: 15px;
}
.infinity-wp .post .alignleft {
	margin-right: 15px;
	float: left;
}
/* per post navigation and pagination */
.infinity-wp ul.page-numbers li a,
.infinity-wp ul.page-numbers li span,
.infinity-wp .paged-navigation,
.infinity-wp .comment-navigation {
	background: none repeat scroll 0 0 #FFFFFF;
	color: inherit;
	border: 1px solid #DDDDDD;
	border-radius: 4px 4px 4px 4px;
	font-size: 14px;
	font-weight: bold;
	height: 38px;
	margin: 0 2px 10px 0;
	padding: 5px 8px;
	text-align: center;
	word-spacing: 10px;
}
.infinity-wp .comment-navigation {
	padding: 8px 12px;
	word-spacing: inherit;
}
.infinity-wp ul.page-numbers li a:hover,
.infinity-wp .paged-navigation:hover,
.infinity-wp .comment-navigation:hover {
	background: #777;
	color: #eee;
}
.infinity-wp .paged-navigation:hover a,
.infinity-wp .comment-navigation:hover a {
	color: #eee;
}
.infinity-wp ul.page-numbers {
	text-align: center;
	margin-bottom: 20px;
}
.infinity-wp ul.page-numbers li span {
	background: #444;
	color: #FFF;
}
.infinity-wp ul.page-numbers li {
	display: inline;
}
.infinity-wp .pagination {
	border-bottom: 1px solid #EAEAEA;
	height: 16px;
	padding-left: 0px;
	padding-bottom: 10px;
	color: #888888;
	font-size: 90%;
}
.infinity-wp .pagination#user-pag,
.infinity-wp .friends .pagination,
.infinity-wp .mygroups .pagination,
.infinity-wp .myblogs .pagination {
	background: #F9F9F9;
	border: none;
	padding: 8px 15px;
}
/*Post Meta */
.infinity-wp .post-meta-data,
.infinity-wp .comment-meta,
.infinity-wp .comment-options,
.infinity-wp p#breadcrumbs {
	border-bottom: 1px solid #EFEFEF;
	border-top: 1px solid #EFEFEF;
	color: #AAAAAA;
	font-size: 11.5px;
	margin-top: 10px;
	min-height: 20px;
	padding: 3px 0;
	margin-bottom: 10px;
}
.infinity-wp span.post-comments {
	float: right;
	margin-right: 5px;
	border-right: 0px;
}
.infinity-wp p#breadcrumbs {
	margin-top: 0px;
}
/* Intro Boxes for authors, categories and tags */
.infinity-wp .post-author-box {
	float: right;
	padding: 3px;
	display: none;
}
.infinity-wp .post-author-box img {
	width: 50px;
	height: 50px;
}
.infinity-wp .author-box,
.infinity-wp .category-box,
.infinity-wp .tag-box,
.infinity-wp .info-box {
	margin-bottom: 20px;
	border: 1px solid #DDDDDD;
	background: #F9F9F9;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	padding: 10px 20px;
}
.infinity-wp .post-content .author-box {
	margin-top: 30px;
}
.infinity-wp #category-description p,
.infinity-wp #tag-description p {
	font-style: italic;
	margin-top: 10px;
	margin-bottom: 0px;
}
.infinity-wp .authorbox h3 {
	font-style: normal;
	margin-bottom: 10px;
	padding-left: 25px;
	color: #555555;
	font-size: 16px;
}
.infinity-wp #author-description {
	overflow: hidden;
	padding-bottom: 15px;
}
.infinity-wp #author-description img {
	margin-top: 2px;
	margin-right: 10px;
	float: left;
}
.infinity-wp #category-description,
.infinity-wp #tag-description {
	padding: 10px;
}
.infinity-wp #author-social {
	float: right;
	width: 25%;
}

/*Search Page*/

.infinity-wp .search-title {
	font-size: 18px;
	color: #999;
}
.infinity-wp .search-title span {
	color: #444;
}

/* ============ */
/* ! Comments   */
/* ============ */

.infinity-wp .comments-area {
	margin: 20px 10px 10px 10px;
	position: relative;
}
.infinity-wp .comments-area h4.comments-title {
	margin-top: 50px;
}
.infinity-wp .comments-area .pingbacks li.pingback {
	margin: 10px 0;
}
.infinity-wp .comments-area .pingbacks li.pingback .reply {
	display: none;
}
.infinity-wp .comments-area .cancel-comment-reply {
	margin: 10px 0;
}
.infinity-wp .comments-area .avatar img {
	vertical-align: middle;
	width: 40px;
	height: 40px;
	margin: 0;
}
.infinity-wp .comments-area ol.children,
.infinity-wp .comments-area ul.children {
	margin: 30px 10px 0 30px;
	padding: 0;
}
.infinity-wp .comment-list {
	margin-left: 0px;
	list-style: none;
	padding-left: 0px;
}
.infinity-wp .comment-list li.comment {
	margin-top: 10px;
	margin-bottom: 30px;
	list-style-type: none;
	width: 100%;
}
.infinity-wp .comment-list .comment .comment-container {
	border-bottom: 1px solid #F4F4F4;
	padding: 10px;
	position: relative;
}
.infinity-wp .comment-list .children .comment-container {
	background: transparent;
	-webkit-box-shadow: none;
	box-shadow: none;
}
.infinity-wp .comment-list .avatar {
	margin: 0 5px 0 0;
}
.infinity-wp .comment-list .comment-body > * {
	padding-left: 5px;
}
.infinity-wp .comment-list .comment-body blockquote {
	font-style: italic;
	font-weight: bold;
	line-height: 150%;
	margin-left: 71px;
	padding: 5px 5px 5px 15px;
}
.infinity-wp .comment-list .comment-body blockquote > p {
	margin: 0;
}
.infinity-wp .comment-list .comment-meta {
	margin-top: 4px;
}
.infinity-wp .comment-list .reply {
	font-size: 12px;
}
.infinity-wp .comment-list .reply a {
	font-weight: bold;
}
.infinity-wp .comment-list .bypostauthor {
	background: #F9F9F9;
}
.infinity-wp .comment-list .unapproved {
	font-style: italic;
	color: #999;
}
/* The Comments Forms */
.infinity-wp .comment-respond {
	margin: 20px 0 0;
}
.infinity-wp .comments-area > .comment-respond {
	margin-top: 30px;
}
.infinity-wp .comment-respond .comment-reply-title small {
	margin-top: 5px;
	display: block;
	font-size: 13px;
}
.infinity-wp .comment-respond span.required {
	color: #CFCFCF;
	display: block;
	float: left;
	font-size: 16px;
	font-weight: bold;
	margin: 4px 0 0 -12px;
}
.infinity-wp .comment-respond .right {
	float: left;
	width: 380px;
}
.infinity-wp .comment-respond label {
	color: #777777;
	padding: 4px 0;
	font-size: 11px;
}
.infinity-wp .comment-respond .left {
	margin-right: 15px;
	float: left;
	width: 200px;
}
.infinity-wp .comment-form {
	margin: 10px 0 0 0;
}
.infinity-wp .comment-form input.txt,
.infinity-wp .comment-form textarea {
	border-color: #ccc #efefef #efefef #ccc;
	border-width: 1px;
	border-style: solid;
	font-size: inherit;
}
.infinity-wp .comment-form input.txt {
	background: #F9F9F9;
	width: 170px;
	color: #666;
	margin: 0 5px 10px 0;
	padding: 5px 7px;
}
.infinity-wp .comment-form textarea {
	width: 95%;
	height: auto;
}
.infinity-wp .comment-form .form-allowed-tags {
	width: 95%;
	font-size: 90%;
	color: #777;
}
.infinity-wp .comment-form input.submit {
	margin: 10px 0 0 0;
}