
div.pie-easy-exts-widget-title-block {
	padding: 0;
}
	div.pie-easy-exts-widget-title-block > div {
		padding: 5px;
	}
	div.pie-easy-exts-widget-title-block > div.ui-widget-header {
		font-weight: bold;
	}
	div.pie-easy-exts-widget-title-block > div.ui-widget-content {
		border-top: none;
	}