/* ========================= */
/* ! Control Panel Styling   */
/* ========================= */

/* main container */
div#infinity-cpanel {
	max-width: 1000px;
	min-width: 720px;
	margin-top: 20px;
	padding: 20px;
	background-color: #fff;
}

div#infinity-cpanel > .ui-tabs {
	min-height: 600px;
}

div#infinity-cpanel > .ui-tabs-panel {
	min-height: 450px;
}

div#infinity-cpanel .ui-widget a,
div#infinity-cpanel .ui-widget a:link,
div#infinity-cpanel .ui-widget a:active,
div#infinity-cpanel .ui-widget a:visited,
div#infinity-cpanel .ui-widget a:hover {
	text-decoration: none;
}

div#infinity-cpanel .ui-widget a:hover {
	text-decoration: underline;
}

div.infinity-cpanel .ui-button .ui-button-text {
	font-weight: bold;
}

/* header */
div#infinity-cpanel-header {
	position: relative;
	border: 0 none;
	margin-bottom: 5px;
	padding-left: 15px;
	background: transparent;
}
img#infinity-cpanel-header-logo {
	margin-top: 10px;
}

/* tabs */
div#infinity-cpanel-tabs {
	margin: 3px;
	background: #fff none;
	border: none;
}

div#infinity-cpanel-tab-options {
	background: #fff none;
}

div#infinity-cpanel-tabs > ul.ui-tabs-nav {
	border-width: 0 0 1px 0;
	border-radius: 0;
	padding: 0;
	font-size: 12px;
	background: transparent;
}
	div#infinity-cpanel-tabs > ul.ui-tabs-nav li a {
		font-size: 1.3em;
		font-weight: bold;
	}
	div#infinity-cpanel-tabs > .ui-tabs-panel {
		border: 1px solid #aaaaaa;
		border-top: none;
	}


/* dialog tweaks */
div#infinity-cpanel .ui-dialog {
	padding: 0;
	background: none;
}
	div#infinity-cpanel .ui-dialog .ui-dialog-titlebar-close {
		right: .8em;
		top: 55%;
		width: 16px;
		padding: 0;
		height: 16px;
	}
	
/* input styling */
div#infinity-cpanel select,
div#infinity-cpanel textarea,
div#infinity-cpanel input[type="button"],
div#infinity-cpanel input[type="image"],
div#infinity-cpanel input[type="password"],
div#infinity-cpanel input[type="reset"],
div#infinity-cpanel input[type="submit"],
div#infinity-cpanel input[type="text"] {
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	-webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.1) inset, 0 1px 0 rgba(255,255,255,0.2);
	-moz-box-shadow: 0 1px 3px rgba(0,0,0,0.1) inset, 0 1px 0 rgba(255,255,255,0.2);
	box-shadow: 0 1px 3px rgba(0,0,0,0.1) inset, 0 1px 0 rgba(255,255,255,0.2);
	-webkit-transition: all 0.25s ease-in-out;
	-moz-transition: all 0.25 ease-in-out;
	-o-transition: all 0.25s ease-in-out;
	width: 30%;
}
div#infinity-cpanel textarea {
	width: 100%;
}
div#infinity-cpanel select:hover,
div#infinity-cpanel textarea:hover,
div#infinity-cpanel input[type="button"]:hover,
div#infinity-cpanel input[type="image"]:hover,
div#infinity-cpanel input[type="password"]:hover,
div#infinity-cpanel input[type="reset"]:hover,
div#infinity-cpanel input[type="submit"]:hover,
div#infinity-cpanel input[type="text"]:hover {
	border: 1px solid #bdbdbd;
	-webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.2) inset, 0 1px 0 rgba(255,255,255,0.2);
	-moz-box-shadow: 0 1px 3px rgba(0,0,0,0.2) inset, 0 1px 0 rgba(255,255,255,0.2);
	box-shadow: 0 1px 3px rgba(0,0,0,0.2) inset, 0 1px 0 rgba(255,255,255,0.2);
}
div#infinity-cpanel textarea:focus,
div#infinity-cpanel input[type="button"]:focus,
div#infinity-cpanel input[type="image"]:focus,
div#infinity-cpanel input[type="password"]:focus,
div#infinity-cpanel input[type="reset"]:focus,
div#infinity-cpanel input[type="submit"]:focus,
div#infinity-cpanel input[type="text"]:focus {
	border: 1px solid #95bdd4;
	-webkit-box-shadow: 0 2px 3px rgba(161,202,226,0.5) inset, 0 1px 0 rgba(255,255,255,0.2);
	-moz-box-shadow: 0 2px 3px rgba(161,202,226,0.5) inset, 0 1px 0 rgba(255,255,255,0.2);
	box-shadow: 0 2px 3px rgba(161,202,226,0.5) inset, 0 1px 0 rgba(255,255,255,0.2);
}
