/* Stream Icons. no shorthand CSS to maintain hover effects */
li#activity-all a {
    background-image: url("../images/icons/black.png");
    background-position: -724px -1113px;
    background-repeat: no-repeat;
    padding-left: 23px;
}
li#activity-favorites a {
    background-image: url("../images/icons/black.png");
    background-repeat: no-repeat;
    background-position: 0px -25px;
    padding-left: 24px;
}
li#activity-friends a {
    background-image: url("../images/icons/black.png");
    background-repeat: no-repeat;
    background-position: -722px -366px;
    padding-left: 24px;
}
li#activity-groups a {
    background-image: url("../images/icons/black.png");
    background-repeat: no-repeat;
    background-position: 0 -1522px;
    padding-left: 24px;
}
li#activity-links a {
    background-image: url("../images/icons/black.png");
    background-position: 0 -807px;
    background-repeat: no-repeat;
    padding-left: 24px;
}
li#activity-mentions a {
    background-image: url("../images/icons/black.png");
    background-position: -724px -1080px;
    background-repeat: no-repeat;
    padding-left: 23px;
}
li#activity-following a, li#following-personal-li a {
    background-image: url("../images/icons/black.png");
    background-repeat: no-repeat;
    background-position: 1px -1182px;
    padding-left: 24px;
}
/* Group Icons */
li#members-groups-li a {
    background-image: url("../images/icons/black.png");
    padding-left: 25px;
    background-repeat: no-repeat;
    background-position: -724px -1217px;
}
li#forums-groups-li a {
    background-image: url("../images/icons/black.png");
    padding-left: 25px;
    background-repeat: no-repeat;
    background-position:  -725px -1115px;
        
}
li#admin-groups-li a {
    background-image: url("../images/icons/black.png");
    padding-left: 25px;
    background-repeat: no-repeat;
    background-position: 2px -740px;
}

li#invite-groups-li a {
    background-image: url("../images/icons/black.png");
    padding-left: 25px;
        background-repeat: no-repeat;
        background-position: 0px -671px;
}

li#home-groups-li a {
    background-image: url("../images/icons/black.png");
    padding-left: 25px;
        background-repeat: no-repeat;
        background-position: 2px -1829px; 
}
/* Profile Icons  */
#user-activity {
    background-image: url("../images/icons/black.png");
    padding-left: 24px;
        background-repeat: no-repeat;
        background-position: -724px -910px; 
}
#user-xprofile {
    background-image: url("../images/icons/black.png");
    padding-left: 25px;
        background-repeat: no-repeat;
        background-position: -724px -1218px; 
}
#user-friends {
    background-image: url("../images/icons/black.png");
    padding-left: 25px;
        background-repeat: no-repeat;
        background-position:-725px -1115px; 
}
#user-groups {
    background-image: url("../images/icons/black.png");
    padding-left: 25px;
        background-repeat: no-repeat;
        background-position: 2px -1523px; 
}
#user-profile { 
	background-image: url("../images/icons/black.png");
	background-repeat: no-repeat; 
	background-position: 2px -1488px; 
}
#user-links {
    background-image: url("../images/icons/black.png");
    padding-left: 25px;
    background-repeat: no-repeat;
    background-position: -724px -1220px; 
}
#user-settings {
    background-image: url("../images/icons/black.png");
    padding-left: 25px;
        background-repeat: no-repeat;
        background-position:-725px -945px; 
}
#user-messages {
    background-image: url("../images/icons/black.png");
    padding-left: 24px;
        background-repeat: no-repeat;
        background-position: 0 -910px; 
}

#user-forums {
background-image: url("../images/icons/black.png");
padding-left: 24px;
    background-repeat: no-repeat;
    background-position: -723px -1113px; 
}

a.send-message {
    background-image: url("../images/icons/black.png");
        background-repeat: no-repeat;
        background-position: -728px -1120px;
    padding-left: 19px;
    padding-top: 4px;
}

.follow-button a.follow {
    background-image: url("../images/icons/black.png");
    padding-left: 19px;
        background-repeat: no-repeat;
        background-position: -4px -1189px; 
    padding-top: 4px;
}
div#post-mention a.mention {
    background-image: url("../images/icons/black.png");
    padding-left: 19px;
    padding-top: 4px;
    background-position: -728px -1088px; 
        background-repeat: no-repeat;
}

div#message p {
    background-image: url("../images/icons/black.png") #FFFFE4;
    font-weight: bold;
    padding-left: 22px !important;
        background-repeat: no-repeat;
        background-position:-724px -332px; 
}
	
/* Third Party Plugin Icons */	  	
li#nav-docs-groups-li a { 	
	background-image: url("../images/icons/black.png");  	
	background-position: 0 -502px;  	
	background-repeat: no-repeat; 	
	padding-left: 25px; 	
}