/* Stream Icons. no shorthand CSS to maintain hover effects */
li#activity-all a {
    background-image: url("../images/icons/white.png");
    background-position: -724px -1113px;
    background-repeat: no-repeat;
    padding-left: 23px;
}
li#activity-favorites a {
    background-image: url("../images/icons/white.png");
    background-repeat: no-repeat;
    background-position: 0px -25px;
    padding-left: 24px;
}
li#activity-friends a {
    background-image: url("../images/icons/white.png");
    background-repeat: no-repeat;
    background-position: -722px -366px;
    padding-left: 24px;
}
li#activity-groups a {
    background-image: url("../images/icons/white.png");
    background-repeat: no-repeat;
    background-position: 0 -1522px;
    padding-left: 24px;
}
li#activity-links a {
    background-image: url("../images/icons/white.png");
    background-repeat: no-repeat;
    background-position: -723px -1080px;
    padding-left: 24px;
}
li#activity-mentions a {
    background-image: url("../images/icons/white.png");
    background-position: -724px -1080px;
    background-repeat: no-repeat;
    padding-left: 23px;
}
li#activity-following a, li#following-personal-li a {
    background-image: url("../images/icons/white.png");
    background-repeat: no-repeat;
    background-position: 1px -1182px;
    padding-left: 24px;
}
/* Group Icons */
li#members-groups-li a {
    background: url("../images/icons/white.png") no-repeat scroll -724px -1217px transparent;
    padding-left: 25px;
}
li#forums-groups-li a {
    background: url("../images/icons/white.png") no-repeat scroll -725px -1115px transparent;
    padding-left: 25px;
}
li#admin-groups-li a {
    background: url("../images/icons/white.png") no-repeat scroll 2px -740px transparent;
    padding-left: 25px;
}
li#invite-groups-li a {
    background: url("../images/icons/white.png") no-repeat scroll 0px -671px transparent;
    padding-left: 25px;
}
li#home-groups-li a {
    background: url("../images/icons/white.png") no-repeat scroll 2px -1829px transparent;
    padding-left: 25px;
}
/* Profile Icons  */
#user-activity {
    background: url("../images/icons/white.png") no-repeat scroll -724px -910px transparent;
    padding-left: 24px;
}
#user-xprofile {
    background: url("../images/icons/white.png") no-repeat scroll -724px -1218px transparent;
    padding-left: 25px;
}
#user-friends {
    background: url("../images/icons/white.png") no-repeat scroll -725px -1115px transparent;
    padding-left: 25px;
}
#user-groups {
    background: url("../images/icons/white.png") no-repeat scroll 2px -1523px transparent;
    padding-left: 25px;
}
#user-profile { background: url("../images/icons/white.png") no-repeat scroll 2px -1488px transparent }
#user-links {
    background: url("../images/icons/white.png") no-repeat scroll -724px -1220px transparent;
    padding-left: 25px;
}
#user-settings {
    background: url("../images/icons/white.png") no-repeat scroll -725px -945px transparent;
    padding-left: 25px;
}
#user-messages {
    background: url("../images/icons/white.png") no-repeat scroll 0 -910px transparent;
    padding-left: 24px;
}

#user-forums {
background: url("../images/icons/white.png") no-repeat scroll -723px -1113px transparent;
padding-left: 24px;
}

a.send-message {
    background: url("../images/icons/black.png") no-repeat scroll -728px -1120px transparent;
    padding-left: 19px;
    padding-top: 2px;
}

.follow-button a.follow {
    background: url("../images/icons/black.png") no-repeat scroll -4px -1189px transparent;
    padding-left: 19px;
    padding-top: 2px;
}
div#post-mention a.mention {
    background: url("../images/icons/black.png") no-repeat scroll -728px -1088px transparent;
    padding-left: 19px;
    padding-top: 2px;
}

div#message p {
    background: url("../images/icons/black.png") no-repeat scroll -724px -332px #FFFFE4;
    font-weight: bold;
    padding-left: 22px !important;
}