/* Stream Icons. no shorthand CSS to maintain hover effects */
li#activity-all a {
    background-image: url("../images/icons/white.png");
    background-position: -724px -1117px;
    background-repeat: no-repeat;
    padding-left: 23px;
}
li#activity-favorites a {
    background-image: url("../images/icons/white.png");
    background-repeat: no-repeat;
    background-position: 0px -29px;
    padding-left: 24px;
}
li#activity-friends a {
    background-image: url("../images/icons/white.png");
    background-repeat: no-repeat;
    background-position: -722px -371px;
    padding-left: 24px;
}
li#activity-groups a {
    background-image: url("../images/icons/white.png");
    background-repeat: no-repeat;
    background-position: 0 -1526px;
    padding-left: 24px;
}
li#activity-links a {
    background-image: url("../images/icons/white.png");
    background-repeat: no-repeat;
    background-position: -723px -1084px;
    padding-left: 24px;
}
li#activity-mentions a {
    background-image: url("../images/icons/white.png");
    background-position: -724px -1084px;
    background-repeat: no-repeat;
    padding-left: 23px;
}
li#activity-following a, li#following-personal-li a {
    background-image: url("../images/icons/white.png");
    background-repeat: no-repeat;
    background-position: 1px -1186px;
    padding-left: 24px;
}
/* Group Icons */
li#members-groups-li a {
    background: url("../images/icons/white.png") no-repeat scroll -724px -1221px transparent;
    padding-left: 25px;
}
li#forums-groups-li a {
    background: url("../images/icons/white.png") no-repeat scroll -725px -1119px transparent;
    padding-left: 25px;
}
li#admin-groups-li a {
    background: url("../images/icons/white.png") no-repeat scroll 2px -744px transparent;
    padding-left: 25px;
}
li#invite-groups-li a {
    background: url("../images/icons/white.png") no-repeat scroll 0px -675px transparent;
    padding-left: 25px;
}
li#home-groups-li a {
    background: url("../images/icons/white.png") no-repeat scroll 2px -1833px transparent;
    padding-left: 25px;
}
/* Profile Icons  */
#user-activity {
    background: url("../images/icons/white.png") no-repeat scroll -724px -914px transparent;
    padding-left: 24px;
}
#user-xprofile {
    background: url("../images/icons/white.png") no-repeat scroll -724px -1222px transparent;
    padding-left: 25px;
}
#user-friends {
    background: url("../images/icons/white.png") no-repeat scroll -725px -1119px transparent;
    padding-left: 25px;
}
#user-groups {
    background: url("../images/icons/white.png") no-repeat scroll 2px -1527px transparent;
    padding-left: 25px;
}
#user-profile { background: url("../images/icons/white.png") no-repeat scroll 2px -1492px transparent }
#user-links {
    background: url("../images/icons/white.png") no-repeat scroll -724px -1224px transparent;
    padding-left: 25px;
}
#user-settings {
    background: url("../images/icons/white.png") no-repeat scroll -725px -949px transparent;
    padding-left: 25px;
}
#user-messages {
    background: url("../images/icons/white.png") no-repeat scroll 0 -914px transparent;
    padding-left: 24px;
}

#user-forums {
background: url("../images/icons/white.png") no-repeat scroll -723px -1117px transparent;
padding-left: 24px;
}

a.send-message {
    background: url("../images/icons/black.png") no-repeat scroll -728px -1124px transparent;
    padding-left: 19px;
    padding-top: 2px;
}

.follow-button a.follow {
    background: url("../images/icons/black.png") no-repeat scroll -4px -1193px transparent;
    padding-left: 19px;
    padding-top: 2px;
}
div#post-mention a.mention {
    background: url("../images/icons/black.png") no-repeat scroll -728px -1092px transparent;
    padding-left: 19px;
    padding-top: 2px;
}

div#message p {
    background: url("../images/icons/black.png") no-repeat scroll -724px -336px #FFFFE4;
    font-weight: bold;
    padding-left: 22px !important;
}