/* ============================== */
/* ! BuddyPress Specific Buttons  */
/* ============================== */
.activity-list .activity-header a:first-child,
span.highlight,
span.activity,
div#message p,
.generic-button,
.activity-list div.activity-meta a
{
    display: inline-block;
    text-decoration: none;
    font: bold 11px/12px HelveticaNeue,Arial;
    padding: 3px 6px;
    color: #555;
    border: 1px solid #dedede;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    margin-bottom: 2px;
    background: #f5f5f5;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f9f9f9', endColorstr='#f0f0f0'); /*  IE */
    background: -webkit-gradient(linear, left top, left bottom, from(#f9f9f9), to(#f0f0f0)); /*  WebKit */
    background: -moz-linear-gradient(top,  #f9f9f9, #f0f0f0);
    border-color: #dedede #d8d8d8 #d3d3d3;
    color: #555;
    text-shadow: none;
    -webkit-box-shadow: 0 1px 1px #eaeaea, inset 0 1px 0 #fbfbfb;
    -moz-box-shadow: 0 1px 1px #eaeaea, inset 0 1px 0 #fbfbfb;
    box-shadow: 0 1px 1px #eaeaea, inset 0 1px 0 #fbfbfb;
}


div#message p {
    background: url("../images/icons/black.png") no-repeat scroll -724px -336px #FFFFE4;
    font-weight: bold;
    padding-left: 22px !important;
}
span.activity {
    background: #EFEFEF;
    font-weight: normal;
    margin-top: 6px;
}
.generic-button {
    font-size: 12px;
    padding: 7px 12px;
}
.activity-list:hover .activity-header a:first-child,
span.highlight:hover,
.generic-button:hover { background: #EFEFEF }
div#sidebar-me h4 {
    font-size: 14px;
    font-style: italic;
    margin: 6px 0 20px;
    padding-top: 4px;
}
div#top-menu-wrap #buddypress-nav ul a,
div#sub-menu-wrap #buddypress-nav ul a {
    font-size: 11.5px !important;
    font-weight: bold;
    margin-right: -10px !important;
    padding: 0 8px !important;
    text-transform: uppercase;
}
#group-creation-next,
.not_friends,
input#send {
    background: #b7d770;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#cae285', endColorstr='#9fcb57'); /*  IE */
    background: -webkit-gradient(linear, left top, left bottom, from(#cae285), to(#9fcb57)); /*  WebKit */
    background: -moz-linear-gradient(top,  #cae285, #9fcb57);
    border-color: #adc671 #98b65b #87aa4a;
    color: #5d7731;
    text-shadow: 0 1px 0 #cfe5a4;
    -webkit-box-shadow: 0 1px 1px #d3d3d3, inset 0 1px 0 #d7e9a4;
    -moz-box-shadow: 0 1px 1px #d3d3d3, inset 0 1px 0 #d7e9a4;
    box-shadow: 0 1px 1px #d3d3d3, inset 0 1px 0 #d7e9a4;
}
.not_friends a { color: #5d7731 }
.is_friend a {
color: #FF4618;
}
div.action .requested { color: #999 }
div.action .pending {
    background: none repeat scroll 0 0 #EFEFEF;
    border: 1px solid #DDDDDD;
    box-shadow: none;
    text-shadow: none;
}
#group-creation-next:hover,
.not_friends:hover,
input#send:hover {
    background: #b9d972;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#b8d872', endColorstr='#b9d972'); /*  IE */
    background: -webkit-gradient(linear, left top, left bottom, from(#b8d872), to(#b9d972)); /*  WebKit */
    background: -moz-linear-gradient(top,  #b8d872, #b9d972);
    border-color: #8bb14d #83a648 #7d9e45;
    text-shadow: 0 1px 0 #d5e8aa;
    -webkit-box-shadow: 0 1px 1px #d5d5d5, inset 0 1px 0 #cae295;
    -moz-box-shadow: 0 1px 1px #d5d5d5, inset 0 1px 0 #cae295;
    box-shadow: 0 1px 1px #d5d5d5, inset 0 1px 0 #cae295;
}
.activity-read-more {
margin-left: 5px;
}
/* ================================================================================================
/* ! BuddyPress Default Styling. This has been taken directly from latest version of BP-Default.css   */
/* ================================================================================================== */
/* > Item Headers (Profiles, Groups)
-------------------------------------------------------------- */
div#item-header {
    margin-bottom: 15px;
    overflow: hidden;
}
div#item-header div#item-header-content { margin-left: 170px }
div#item-header h2 {
    font-size: 28px;
    margin: 0 0 15px 0;
    line-height: 120%;
}
div#item-header h2 a {
    text-decoration: none;
    color: #777;
}
div#item-header img.avatar {
    float: left;
    margin: 0 15px 25px 0;
}
div#item-header h2 { margin-bottom: 5px }
div#item-header span.activity,
div#item-header h2 span.highlight {
    vertical-align: middle;
    font-size: 11px;
    font-weight: normal;
    line-height: 170%;
    margin-bottom: 7px;
}
div#item-header h2 span.highlight {
    font-size: 11.5px;
    font-weight: bold;
}
div#item-header h2 span.highlight span {
    background: none repeat scroll 0 0 #444444;
    border-radius: 3px 3px 3px 3px;
    color: #FFFFFF;
    cursor: pointer;
    display: none;
    font-size: 11px;
    font-weight: bold;
    margin-bottom: 0;
    padding: 1px 4px;
    position: relative;
    right: 0;
    top: -1px;
    vertical-align: middle;
}
div#item-header div#item-meta {
    font-size: 14px;
    color: #aaa;
    padding-bottom: 10px;
    overflow: hidden;
    margin: 15px 0 5px 0;
}
div#item-header div#item-actions {
    float: right;
    width: 20%;
    margin: 0 0 15px 15px;
    text-align: right;
}
div#item-header div#item-actions h3 {
    font-size: 12px;
    margin: 0 0 5px 0;
}
div#item-header ul {
    overflow: hidden;
    margin-bottom: 15px;
}
div#item-header ul h5,
div#item-header ul span,
div#item-header ul hr { display: none }
div#item-header ul li { float: right }
div#item-header ul img.avatar,
div#item-header ul.avatars img.avatar {
    width: 30px;
    height: 30px;
    margin: 2px;
}
div#item-header div.generic-button,
div#item-header a.button {
    float: left;
    margin: 10px 10px 0 0;
}
div#item-header div#message.info {
    line-height: 80%;
}
div#item-header div#message.info p { background: #FFFFE4 }
/* > Item Lists (Activity, Friend, Group lists)
-------------------------------------------------------------- */
ul.item-list { width: 100% }
ul.item-list li {
    position: relative;
    padding: 15px 0;
    border-bottom: 1px solid #eaeaea;
}
ul.single-line li { border: none }
ul.item-list li img.avatar {
    float: left;
    margin: 0 10px 10px 0;
}
ul.item-list li div.item-title,
ul.item-list li h4 {
    font-weight: normal;
    font-size: 14px;
    width: 75%;
    margin: 0;
}
ul.item-list li div.item-title span {
    font-size: 12px;
    color: #999;
}
ul.item-list li div.item-desc {
    margin: 10px 0 0 64px;
    font-size: 11px;
    color: #888;
    width: 50%;
}
ul.item-list li div.action {
    position: absolute;
    top: 15px;
    right: 0;
    text-align: right;
}
ul.item-list li div.meta {
    margin-top: 10px;
    color: #888;
    font-size: 11px;
}
ul.item-list li h5 span.small {
    font-weight: normal;
    font-size: 11px;
}
/* > Item Tabs
-------------------------------------------------------------- */
div.item-list-tabs {
    background: none repeat scroll 0 0 #333333;
    border-bottom: 1px solid #000000;
    border-top: 1px solid #000000;
    clear: left;
    color: #FFFFFF;
    font-weight: bold;
    height: 40px;
    overflow: hidden;
}
div.item-list-tabs ul li a {
    color: #D6D1D1;
    font-size: 10.5px;
    letter-spacing: 0.5px;
    text-decoration: none;
}
div.item-list-tabs ul { width: 100% }
div.item-list-tabs ul li {
    text-transform: uppercase;
    font-size: 11.8px;
    color: #D6D6D6;
    float: left;
    margin: 5px 0 0 5px;
    text-shadow: none;
}
div.item-list-tabs#subnav ul li { margin-top: 0 }
div#subnav.item-list-tabs ul li a {
    color: #999;
    text-shadow: none;
    padding: 5px;
    text-transform: none;
    font-size: inherit;
}
div#subnav.item-list-tabs ul li a:hover {
    color: #444;
    background: none;
}
div#subnav.item-list-tabs ul li.current a { color: #444 }
div.item-list-tabs ul li:first-child { margin-left: 20px }
div.item-list-tabs ul li.last {
    float: right;
    font-size: 12px;
    margin: 10px 20px 0 0;
    text-transform: inherit;
}
div.item-list-tabs#subnav ul li.last { margin-top: -4px; }
div.item-list-tabs ul li.last select {
    float: right;
    margin-left: 8px;
    max-width: 110px;
    margin-top: 10px;
    }
div.item-list-tabs ul li a,
div.item-list-tabs ul li span {
    display: block;
    padding: 5px 10px;
    text-decoration: none;
}
div.item-list-tabs ul li span { color: #aaa }
div.item-list-tabs ul li a span {
    display: inline;
    padding: 0;
    color: inherit;
}
div.item-list-tabs ul li a span {
    background: none repeat scroll 0 0 #EF7D3C;
    border-radius: 3px 3px 3px 3px;
    color: #FFFFFF;
    display: inline;
    font-size: 90%;
    margin-left: 2px;
    padding: 1px 6px;
}
div.item-list-tabs ul li.selected a,
div.item-list-tabs ul li.selected a,
div.item-list-tabs ul li.current a {
    background-color: #FFFFFF !important;
    border-radius: 4px 4px 4px 4px;
    color: #333333;
    font-weight: bold;
    text-shadow: none;
    padding-left: 10px !important;
    background: -webkit-linear-gradient(#DDD, #ffffff)!important;
    background: -moz-linear-gradient(center top, #DDD 0%, #ffffff 100%)!important;
    background: -moz-gradient(center top, #DDD 0%, #ffffff 100%)!important;
}
div.item-list-tabs ul li.selected a span,
div.item-list-tabs ul li.current a span,
div.item-list-tabs ul li a:hover span {
	background-color: #999;
}
div.item-list-tabs ul li.selected a span,
div.item-list-tabs ul li.current a span {
	background-color: #555;
}

ul li.loading a {
    background: #000 !important;
    background-repeat: no-repeat;
}
div#item-nav ul li.loading a { background-position: 88% 50% }
div.item-list-tabs#object-nav { margin-top: 0 }
div#subnav.item-list-tabs {
    background: none repeat scroll 0 0 #FFFFFF;
    border-bottom: 1px solid #EBEBEB;
    border-top: 1px solid #F4F4F4;
    box-shadow: 1px 3px 3px rgba(230, 228, 228, 0.5);
    font-family: inherit;
    font-size: 13px;
    font-weight: bold;
    height: 32px;
    margin-bottom: 20px;
    min-height: 32px;
    overflow: hidden;
    padding-top: 5px;
}
div.item-list-tabs ul li.feed a {
    background: url("../images/icons/black.png") no-repeat scroll 0 -1222px transparent;
    padding-left: 24px !important;
}
/* > Item Body
-------------------------------------------------------------- */
.item-body { margin: 20px 0 }
/* > Directories (Members, Groups, Blogs, Forums)
-------------------------------------------------------------- */
div.dir-search {
    margin-top: 20px;
    width: 50%;
}
div.dir-search input[type=text] {
    padding: 4px;
    font-size: 12px;
}
/* > Pagination
-------------------------------------------------------------- */
div.pagination#user-pag,
.friends div.pagination,
.mygroups div.pagination,
.myblogs div.pagination,
noscript div.pagination {
    background: #f8f8f8;
    border: none;
    padding: 8px 15px;
}
div.pagination .pag-count { float: left }
div.pagination .pagination-links { float: right }
div.pagination .pagination-links span,
div.pagination .pagination-links a {
    font-size: 12px;
    padding: 0 5px;
}
div.pagination .pagination-links a:hover { font-weight: bold }
div#pag-bottom { margin-top: 0 }
div#sidebar div.item-options {
    color: #73C1E6;
    font-size: 9.8px;
    font-weight: bold;
    margin: -10px 0 0 0;
    text-transform: uppercase;
}
div#sidebar div.item-avatar img {
    display: block;
    float: left;
    height: 40px;
    margin: 5px 5px 5px 0;
    width: 40px;
}
div#sidebar .avatar-block { overflow: hidden }
/* > Error / Success Messages
-------------------------------------------------------------- */
div#message { margin: 15px 0 }
div#message.updated { clear: both }
div#message p {
    padding: 10px 15px;
    font-size: 12px;
    display: block;
}
div#message.error p {
    background: #e41717;
    color: #fff;
    border-color: #a71a1a;
    clear: left;
}
div#message.updated p {
    background: url("../images/icons/black.png") no-repeat scroll 1px -1661px #DFFCD9;
    border-color: #C4E9BD;
    color: #1A9B00;
}
form.standard-form#signup_form div div.error {
    color: #fff;
    background: #e41717;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    padding: 6px;
    width: 90%;
    margin: 0 0 10px 0;
}
/* Buttons that are disabled */
div.pending a,
a.disabled {
    border-color: #eee;
    color: #bbb;
    cursor: default;
}
div.pending a:hover,
a.disabled:hover {
    border-color: #eee;
    color: #bbb;
}
div.accept,
div.reject {
    float: left;
    margin-left: 10px;
}
ul.button-nav li {
    float: left;
    margin: 0 10px 10px 0;
}
ul.button-nav li.current a { font-weight: bold }
/* > AJAX Loaders
-------------------------------------------------------------- */
.ajax-loader {
    background: url( ../images/buddypress/ajax-loader.gif ) center left no-repeat !important;
    padding: 8px;
    display: none;
}
a.loading {
    background-image: url( ../images/buddypress/ajax-loader.gif ) !important;
    background-position: 95% 50% !important;
    background-repeat: no-repeat !important;
    padding-right: 25px !important;
    display: none;
}
/* > Input Forms
-------------------------------------------------------------- */
form.standard-form { }
form.standard-form textarea,
form.standard-form input[type=text],
form.standard-form select,
form.standard-form input[type=password],
.dir-search input[type=text] {
    border: 1px inset #ccc;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    padding: 6px !important;
    font: inherit;
    font-size: 14px;
    color: #888;
}
form.standard-form select { padding: 3px }
form.standard-form input[type=password] { margin-bottom: 5px }
form.standard-form label,
form.standard-form span.label {
    display: block;
    font-weight: bold;
    margin: 15px 0 5px 0;
}
form.standard-form div.checkbox label,
form.standard-form div.radio label {
    font-weight: normal;
    margin: 5px 0 0 0;
    font-size: 14px;
    color: #888;
}
form.standard-form#sidebar-login-form label { margin-top: 5px }
form.standard-form input[type=text] { width: 75% }
form.standard-form#sidebar-login-form input[type=text],
form.standard-form#sidebar-login-form input[type=password] {
    padding: 4px;
    width: 95%;
}
form.standard-form #basic-details-section input[type=password],
form.standard-form #blog-details-section input#signup_blog_url { width: 35% }
form.standard-form#signup_form input[type=text],
form.standard-form#signup_form textarea { width: 90% }
form.standard-form#signup_form div.submit { float: right }
div#signup-avatar img { margin: 0 15px 10px 0 }
form.standard-form textarea {
    width: 75%;
    height: 120px;
}
form.standard-form textarea#message_content { height: 200px }
form.standard-form#send-reply textarea { width: 97.5% }
form.standard-form p.description {
    font-size: 11px;
    color: #888;
    margin: 5px 0;
}
form.standard-form div.submit {
    padding: 15px 0;
    clear: both;
}
form.standard-form div.submit input { margin-right: 15px }
form.standard-form div.radio ul {
    margin: 10px 0 15px 38px;
    list-style: disc;
}
form.standard-form div.radio ul li { margin-bottom: 5px }
form.standard-form a.clear-value {
    display: block;
    margin-top: 5px;
    outline: none;
}
form.standard-form #basic-details-section,
form.standard-form #blog-details-section,
form.standard-form #profile-details-section {
    float: left;
    width: 48%;
}
form.standard-form #profile-details-section { float: right }
form.standard-form #blog-details-section { clear: left }
form.standard-form input:focus,
form.standard-form textarea:focus,
form.standard-form select:focus {
    background: #fafafa;
    color: #555;
}
form#send-invite-form { margin-top: 20px }
div#invite-list {
    height: 400px;
    overflow: scroll;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    padding: 5px;
    background: #f5f5f5;
    width: 160px;
    border: 1px solid #e4e4e4;
    margin: 10px 0;
}
/* > Data Tables
-------------------------------------------------------------- */
table tr td.thread-info p { margin: 0 }
table tr td.thread-info p.thread-excerpt {
    color: #888;
    font-size: 11px;
    margin-top: 3px;
}
div#sidebar table td,
table.forum td { text-align: center }
table tr.alt { background: none repeat scroll 0 0 #F9F9F9; }
table.notification-settings {
    margin-bottom: 20px;
    text-align: left;
}
table.notification-settings th.icon,
table.notification-settings td:first-child { display: none }
table.notification-settings th.title { width: 80% }
table.notification-settings .yes,
table.notification-settings .no {
    width: 40px;
    text-align: center;
}
table.forum {
    border: 1px solid #FEF8F8;
    margin: 0;
    width: auto;
}
table.forum tr.sticky td {
    background: #FFF9DB;
    border-top: 1px solid #FFE8C4;
    border-bottom: 1px solid #FFE8C4;
}
table.forum tr.closed td.td-title {
    padding-left: 35px;
    background-image: url( ../images/buddypress/closed.png );
    background-position: 15px 50%;
    background-repeat: no-repeat;
}
table.forum td p.topic-text {
    color: #888;
    font-size: 11px;
}
table.forum tr > td:first-child,
table.forum tr > th:first-child { padding-left: 15px }
table.forum tr > td:last-child,
table.forum tr > th:last-child { padding-right: 15px }
table.forum tr th#th-title,
table.forum tr th#th-poster,
table.forum tr th#th-group,
table.forum td.td-poster,
table.forum td.td-group,
table.forum td.td-title { text-align: left }
table.forum td.td-freshness {
    font-size: 11px;
    color: #888;
}
table.forum td img.avatar { margin-right: 5px }
table.forum td.td-poster,
table.forum td.td-group { min-width: 130px }
table.forum th#th-title { width: 40% }
table.forum th#th-postcount { width: 1% }
/* > Activity Stream Posting
-------------------------------------------------------------- */
form#whats-new-form {
    margin-bottom: 5px;
    overflow: hidden;
    padding-bottom: 20px;
}
#item-body form#whats-new-form {
    margin-top: 20px;
    border: none;
}
.home-page form#whats-new-form {
    border-bottom: none;
    padding-bottom: 0;
}
form#whats-new-form h5 {
    margin: 0;
    font-weight: normal;
    font-size: 12px;
    color: #888;
    margin-left: 76px;
    padding: 0 0 3px 0;
}
form#whats-new-form #whats-new-avatar { float: left }
form#whats-new-form #whats-new-content {
    margin-left: 54px;
    padding-left: 22px;
}
form#whats-new-form #whats-new-textarea {
    padding: 8px;
    border: 1px inset #ccc;
    background: #fff;
    margin-bottom: 10px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}
form#whats-new-form textarea {
    border: medium none;
    box-shadow: none;
    color: #555555;
    font-family: inherit;
    font-size: 14px;
    height: 60px;
    margin: 0;
    padding: 0;
    width: 100%;
}
form#whats-new-form #whats-new-options select { max-width: 200px }
form#whats-new-form #whats-new-submit {
    float: right;
    margin: 0;
}
/* > Activity Stream Listing
-------------------------------------------------------------- */
ul.activity-list li {
    padding: 20px 0 0 0;
    overflow: hidden;
}
ul.activity-list > li:first-child { padding-top: 5px }
ul.activity-list li.has-comments { padding-bottom: 20px }
.activity-list li.mini {
    position: relative;
    font-size: 11px;;
    padding: 12px 0 0 0;
}
.activity-list li.mini div.activity-meta { margin: 0 }
.activity-list li.mini .activity-avatar img.avatar,
.activity-list li.mini .activity-avatar img.FB_profile_pic {
    height: 40px;
    margin-bottom: 20px;
    width: 40px;
}
.activity-list li.activity_comment .activity-avatar img.avatar,
.activity-list li.activity_comment .activity-avatar img.FB_profile_pic {
    width: 40px;
    height: 40px;
    margin-left: 20px;
}
body.activity-permalink .activity-list li .activity-avatar img.avatar,
body.activity-permalink .activity-list li .activity-avatar img.FB_profile_pic {
    width: 100px;
    height: 100px;
    margin-left: 0;
}
.activity-list li.mini .activity-content { margin-right: 175px }
.activity-list li.mini .activity-content p {
    margin: 0;
    float: left;
}
.activity-list li.mini .activity-meta {
    position: absolute;
    right: 0;
}
body.activity-permalink .activity-list li.mini .activity-meta {
    position: absolute;
    right: 15px;
}
.activity-list li.mini .activity-comments {
    clear: left;
    font-size: 12px;
    margin-top: 30px;
}
.activity-list li .activity-inreplyto {
    font-size: 11px;
    color: #888;
    margin-left: 70px;
    margin-bottom: 15px;
    padding-left: 25px;
    background: url( ../images/buddypress/replyto_arrow.gif ) 7px 0 no-repeat;
}
.activity-list li .activity-inreplyto > p {
    margin: 0;
    display: inline;
}
.activity-list li .activity-inreplyto blockquote,
.activity-list li .activity-inreplyto div.activity-inner {
    background: none;
    border: none;
    display: inline;
    padding: 0;
    margin: 0;
    overflow: hidden;
}
.activity-list .activity-avatar img {
    width: 60px;
    height: 60px;
}
body.activity-permalink .activity-list .activity-avatar img {
    width: 100px;
    height: 100px;
}
.activity-list .activity-content { margin-left: 70px }
body.activity-permalink .activity-list li .activity-content {
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    background: #fff;
    padding: 15px;
    border-bottom: 1px solid #ddd;
    border-right: 1px solid #ddd;
    margin-left: 135px;
    font-size: 16px;
    line-height: 150%;
    min-height: 35px;
    margin-right: 0;
}
body.activity-permalink .activity-list li .activity-header > p {
    background: url( ../images/buddypress/activity_arrow.gif ) top left no-repeat;
    margin-left: -35px;
    padding: 5px 0 0 38px;
    height: 35px;
    margin-bottom: 0;
}
.activity-list .activity-content .activity-header,
.activity-list .activity-content .comment-header {
    font-size: 11px;
    color: #888;
    line-height: 220%;
}
.activity-list .activity-content .activity-header img.avatar {
    float: none !important;
    margin: 0 5px -8px 0 !important;
}
.activity-list .activity-content a:first-child:focus { outline: none }
.activity-list .activity-content span.time-since { color: #bbb }
.activity-list .activity-content span.activity-header-meta a {
    background: none;
    padding: 0;
    font-size: 11px;
    margin: 0;
    border: none;
    color: #aaa;
    text-decoration: underline;
}
.activity-list .activity-content span.activity-header-meta a:hover {
    color: inherit;
    text-decoration: none;
}
.activity-list .activity-content .activity-inner,
.activity-list .activity-content blockquote {
    margin: 15px 0 15px 5px;
    overflow: hidden;
}
body.activity-permalink .activity-content .activity-inner,
body.activity-permalink .activity-content blockquote { margin-top: 5px }
/* Backwards compatibility. */
.activity-inner > .activity-inner { margin: 0 !important }
.activity-inner > blockquote { margin: 0 !important }
.activity-list .activity-content img.thumbnail {
    float: left;
    margin: 0 10px 5px 0;
    border: 2px solid #eee;
}
.activity-list li.load-more {
    margin: 15px  0 !important;
    padding: 10px 15px !important;
    background: #f0f0f0 !important;
    text-align: center;
    font-size: 1.2em;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
}
.activity-list li.load-more a { color: #555 }
/* > Activity Stream Comments
-------------------------------------------------------------- */
div.activity { margin-top: 20px }
div.activity-meta {
    margin: 0 0 20px 3px;
    clear: left;
}
.activity-list div.activity-meta a {
    font-size: 11px;
	padding: 5px 8px;
}
.activity-list div.activity-meta a:hover {
    border-top: 1px solid #aaa;
    background: #eee;
    background: -moz-linear-gradient(top, rgba(255,255,255,.3) 0%, rgba(0,0,0,.3) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,.3)), color-stop(100%,rgba(0,0,0,.3)));
    background: -webkit-linear-gradient(top, rgba(255,255,255,.3) 0%,rgba(0,0,0,.3) 100%);
    background: -o-linear-gradient(top, rgba(255,255,255,.3) 0%,rgba(0,0,0,.3) 100%);
    background: -ms-linear-gradient(top, rgba(255,255,255,.3) 0%,rgba(0,0,0,.3) 100%);
    background: linear-gradient(top, rgba(255,255,255,.3) 0%,rgba(0,0,0,.3) 100%);
    border-left: 1px solid #aaa;
    color: #222;
    border: 1px solid #888;
}

.activity-list div.activity-meta a.acomment-reply {
	background: #fecc5f;
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#feda71', endColorstr='#febb4a'); /*  IE */
	background: -webkit-gradient(linear, left top, left bottom, from(#feda71), to(#febb4a)); /*  WebKit */
	background: -moz-linear-gradient(top,  #feda71, #febb4a);
	border-color: #f5b74e #e5a73e #d6982f;
	color: #996633;
	text-shadow: 0 1px 0 #fedd9b;
}
div.activity-meta a:focus { outline: none }
div.activity-meta a.acomment-reply:hover {
	background: #fecb5e;
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#fec354', endColorstr='#fecd61'); /*  IE */
	background: -webkit-gradient(linear, left top, left bottom, from(#fec354), to(#fecd61)); /*  WebKit */
	background: -moz-linear-gradient(top,  #fec354, #fecd61);
	border-color: #d29a3a #cc9436 #c89133;
	text-shadow: 0 1px 0 #fee1a0;
	-webkit-box-shadow: 0 1px 1px #d4d4d4, inset 0 1px 0 #fed17e;
	-moz-box-shadow: 0 1px 1px #d4d4d4, inset 0 1px 0 #fed17e;
	box-shadow: 0 1px 1px #d4d4d4, inset 0 1px 0 #fed17e;
}
div.activity-comments {
    position: relative;
    margin: 0 0 0 75px;
    width: auto;
    overflow: hidden; /* IE fix */
}
body.activity-permalink div.activity-comments {
    width: auto;
    margin-left: 135px;
    background: none;
}
div.activity-comments > ul {
    background: #f5f5f5;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    padding: 0 10px 0;
}
div.activity-comments ul,
div.activity-comments ul li {
    border: none;
    list-style: none;
}
div.activity-comments ul { clear: left }
div.activity-comments ul li {
    border-top: 2px solid #fff;
    padding: 10px 0 0;
}
body.activity-permalink div.activity-comments ul li {
    border-width: 1px;
    padding: 10px 0 0;
}
div.activity-comments ul li p:last-child { margin-bottom: 10px }
div.activity-comments > ul > li:first-child { border-top: none }
div.activity-comments ul li:last-child { margin-bottom: 0 }
div.activity-comments ul li > ul {
    margin-top: 0;
    margin-left: 20px;
}
body.activity-permalink div.activity-comments ul li > ul { margin-top: 15px }
div.activity-comments div.acomment-avatar img {
    border-width: 2px !important;
    float: left;
    margin-right: 10px;
}
div.activity-comments div.acomment-content {
    font-size: 11px;
    margin-left: 39px;
    margin-top: 5px;
}
div.acomment-content .time-since { display: none }
div.acomment-content .activity-delete-link { display: none }
div.acomment-content .comment-header { display: none }
body.activity-permalink div.activity-comments div.acomment-content { font-size: 14px }
div.activity-comments div.acomment-meta {
    font-size: 11px;
    color: #888;
}
div.activity-comments form.ac-form {
    background: none repeat scroll 0 0 #FAFAFA;
    border: 1px solid #F1F1F1;
    border-radius: 4px 4px 4px 4px;
    display: none;
    margin: 10px 0 10px 33px;
    padding: 8px;
}
div.activity-comments li form.ac-form { margin-right: 15px }
div.activity-comments form.root { margin-left: 0 }
div.activity-comments div#message {
    margin-top: 15px;
    margin-bottom: 0;
}
div.activity-comments form.loading {
    background-image: url( ../images/buddypress/ajax-loader.gif );
    background-position: 2% 95%;
    background-repeat: no-repeat;
}
div.activity-comments form .ac-textarea {
    padding: 8px;
    border: 1px inset #ccc;
    background: #fff;
    margin-bottom: 10px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}
div.activity-comments form textarea {
    width: 100%;
    font-family: inherit;
    font-size: 11px;
    color: #555;
    height: 60px;
    border: none;
    padding: 0;
}
div.activity-comments form input { margin-top: 5px }
div.activity-comments form div.ac-reply-avatar {
    float: left;
    height: 25px;
    width: 25px;
}
div.ac-reply-avatar img {
    height: 25px;
    width: 25px;
}
div.activity-comments form div.ac-reply-content {
    margin-left: 25px;
    padding-left: 15px;
    color: #888;
    font-size: 11px;
}
/* > Private Message Threads
-------------------------------------------------------------- */
table#message-threads tr.unread td {
    background: #FFF9DB;
    border-top: 1px solid #FFE8C4;
    border-bottom: 1px solid #FFE8C4;
    font-weight: bold;
}
table#message-threads tr.unread td span.activity { background: #fff }
li span.unread-count,
tr.unread span.unread-count {
    background: #dd0000;
    padding: 2px 8px;
    color: #fff;
    font-weight: bold;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}
div.item-list-tabs ul li a span.unread-count {
    padding: 1px 6px;
    color: #fff;
}
div.messages-options-nav {
    font-size: 11px;
    background: #eee;
    text-align: right;
    margin: 0 -20px;
    padding: 5px 15px;
}
div#message-thread div.message-box {
    margin: 0 -20px;
    padding: 15px;
}
div#message-thread div.alt { background: #f4f4f4 }
div#message-thread p#message-recipients { margin: 10px 0 20px 0 }
div#message-thread img.avatar {
    float: left;
    margin: 0 10px 0 0;
    vertical-align: middle;
}
div#message-thread strong {
    margin: 0;
    font-size: 16px;
}
div#message-thread strong a { text-decoration: none }
div#message-thread strong span.activity { margin: 4px 0 0 10px }
div#message-thread div.message-metadata { overflow: hidden }
div#message-thread div.message-content { margin-left: 45px }
div#message-thread div.message-options { text-align: right }
/* > Group Forum Topics
-------------------------------------------------------------- */
ul#topic-post-list {
    margin: 15px -20px;
    width: auto;
}
ul#topic-post-list li {
    padding: 15px;
    position: relative;
}
ul#topic-post-list li.alt { background: #f4f4f4 }
ul#topic-post-list li div.poster-meta {
    margin-bottom: 10px;
    color: #888;
}
ul#topic-post-list li div.post-content { margin-left: 54px }
div.admin-links {
    position: absolute;
    top: 15px;
    right: 25px;
    color: #888;
    font-size: 11px;
}
div#topic-meta div.admin-links {
    bottom: 0;
    right: 0;
    top: auto;
}
div#topic-meta {
    position: relative;
    padding: 5px 0;
}
div#topic-meta h3 { font-size: 20px }
div#new-topic-post {
    margin: 0;
    padding: 1px 0 0 0;
}
/*
BuddyPress */
img.avatar,
ul.item-list li img.avatar {
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    background: none repeat scroll 0 0 #EFEFEF;
    border: 1px solid #CCC;
    margin-left: 0;
    padding: 3px;
}
#wp-admin-bar {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
    height: 25px;
    font-size: 11px;
    width: 100%;
    z-index: 1000;
}
#wp-admin-bar .padder {
    position: relative;
    padding: 0;
    width: 100%;
    margin: 0 auto;
    background: rgb(78,83,86);
    background: rgb(51,51,51);
    background: -moz-linear-gradient(top, rgba(51,51,51,1) 0%, rgba(17,17,17,1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(51,51,51,1)), color-stop(100%,rgba(17,17,17,1)));
    background: -webkit-linear-gradient(top, rgba(51,51,51,1) 0%,rgba(17,17,17,1) 100%);
    background: -o-linear-gradient(top, rgba(51,51,51,1) 0%,rgba(17,17,17,1) 100%);
    background: -ms-linear-gradient(top, rgba(51,51,51,1) 0%,rgba(17,17,17,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#333333', endColorstr='#111111',GradientType=0 );
    background: linear-gradient(top, rgba(51,51,51,1) 0%,rgba(17,17,17,1) 100%);
    height: 25px;
}
body#bp-default #wp-admin-bar .padder {
    min-width: 960px;
    max-width: 1250px;
}
body#bp-default.activity-permalink #wp-admin-bar .padder {
    min-width: 960px;
    max-width: 960px;
}
#wp-admin-bar * { z-index: 999 }
#wp-admin-bar div#admin-bar-logo {
    position: absolute;
    top: 5px;
    left: 10px;
}
#wp-admin-bar a img { border: none }
#wp-admin-bar li {
    list-style: none;
    margin: 0;
    padding: 0;
    line-height: 100%;
    text-align: left;
}
#wp-admin-bar li a {
    padding: 7px 15px 7px 15px;
    color: #eee;
    text-decoration: none;
    font-size: 11px;
}
#wp-admin-bar li.alt { border: none }
#wp-admin-bar li.no-arrow a { padding-right: 15px }
#wp-admin-bar ul li ul li a span { display: none }
#wp-admin-bar li:hover,
#wp-admin-bar li.hover { position: static }
#admin-bar-logo {
    float: left;
    font-weight: bold;
    font-size: 11px;
    padding: 5px 8px;
    margin: 0;
    text-decoration: none;
    color: #fff;
}
body#bp-default #admin-bar-logo { padding: 2px 8px }
/*******************/
#wp-admin-bar ul {
    /* all lists */
    margin: 0;
    list-style: none;
    line-height: 1;
    cursor: pointer;
    height: auto;
    padding: 0;
}
#wp-admin-bar ul li {
    /* all list items */
    padding: 0;
    float: left;
    position: relative;
    background: url( ../images/admin-menu-arrow.gif ) 88% 53% no-repeat;
    padding-right: 11px;
}
#wp-admin-bar ul li.no-arrow {
    background: none;
    padding-right: 0;
}
#wp-admin-bar ul li ul li { background-image: none }
#wp-admin-bar ul li.align-right {
    position: absolute;
    right: 0;
}
#wp-admin-bar ul li a { display: block }
#wp-admin-bar ul.main-nav li:hover,
#wp-admin-bar ul.main-nav li.sfhover,
#wp-admin-bar ul.main-nav li ul li.sfhover { background-color: #333 }
/* second-level lists */
#wp-admin-bar ul li ul {
    position: absolute;
    width: 185px;
    left: -999em;
    margin-left: 0;
    background: #333;
    border: 1px solid #222;
    -moz-box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius-topleft: 0;
    -webkit-border-top-left-radius: 0;
    -moz-border-radius-topright: 0;
    -webkit-border-top-right-radius: 0;
}
#wp-admin-bar ul li > ul { border-top: none }
#wp-admin-bar ul li ul a { color: #eee }
#wp-admin-bar ul li ul li {
    float: left;
    width: 174px;
    margin: 0;
}
#wp-admin-bar ul li ul li:hover a { color: #fff }
#wp-admin-bar ul li div.admin-bar-clear { clear: both }
#wp-admin-bar ul.main-nav li ul li:hover,
#wp-admin-bar ul.main-nav li ul li.sfhover,
#wp-admin-bar ul.main-nav li ul li.sfhover { background-color: #222 }
/* third-and-above-level lists */
#wp-admin-bar ul li ul ul {
    margin: -25px 0 0 184px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
}
#wp-admin-bar ul li ul li:hover ul li a { color: #eee }
#wp-admin-bar ul li ul li ul li:hover a { color: #fff }
#wp-admin-bar ul li:hover ul,
#wp-admin-bar ul li ul li:hover ul,
#wp-admin-bar ul li.sfhover ul,
#wp-admin-bar ul li ul li.sfhover ul { left: auto }
#wp-admin-bar ul li.align-right:hover ul { right: 0 }
#wp-admin-bar ul li:hover ul ul,
#wp-admin-bar li.sfhover ul li ul { left: -999em }
/* Menu item css */
#wp-admin-bar img.avatar {
    float: left;
    margin-right: 8px;
}
#wp-admin-bar span.activity {
    display: block;
    margin-left: 34px;
    padding: 0;
}
#wp-admin-bar ul.author-list li a { height: 17px }
#wp-admin-bar ul li#bp-adminbar-notifications-menu a span {
    padding: 0 6px;
    margin-left: 2px;
    background: #fff;
    color: #000;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}