
/*--------------------------------------------------------------
0 - Infinity BP
--------------------------------------------------------------*/
/*--------------------------------------------------------------
0.1 - Global Tweaks
--------------------------------------------------------------*/
.infinity-bp .item-avatar,
.infinity-bp #buddypress .item-avatar {
	float: left;
}
/* Avatars */
.infinity-bp #buddypress ul.item-list li img.avatar,
.infinity-bp #buddypress #whats-new-avatar img,
.infinity-bp #buddypress .item-avatar img {
	margin-left: 0;
	padding: 0;
	height: auto;
}
/* IE8 expects floats to have width or they lose hasLayout */
.infinity-bp div.item-avatar,
.infinity-bp #buddypress div.item-avatar {
	width: 55px;
	height: 60px;
}
.infinity-bp ul.item-list div.item-avatar,
.infinity-bp #buddypress ul.item-list div.item-avatar {
	width: 50px;
	height: 50px;
}
.infinity-bp #buddypress form#whats-new-form #whats-new-avatar {
	width: 60px;
	height: 60px;
}
.infinity-bp #buddypress div#item-header ul#group-admins li,
.infinity-bp #buddypress div#item-header ul#group-mods li {
	width: 34px;
	height: 34px;
}
/* end IE8 avatar fixes */
.infinity-bp ul.item-list li img.avatar,
.infinity-bp #buddypress ul.item-list li img.avatar {
	width: 40px;
	height: 40px;
}
.infinity-bp .avatar-block,
.infinity-bp #buddypress .avatar-block,
.infinity-bp .activity-avatar,
.infinity-bp #buddypress .activity-avatar {
	padding-left: 2px;
}
.infinity-bp #buddypress #whats-new-avatar img {
	width: 60px;
	height: 60px;
}
/* Get rid of the Group Avatars in the stream updates */
.infinity-bp #buddypress .activity-header .avatar {
	display: none;
}
/* Don't break the menubar avatar icon in IE8 */
.infinity-bp #wpadminbar img {
	max-width: none;
}

.infinity-bp span.highlight,
.infinity-bp #buddypress span.highlight,
.infinity-bp span.activity,
.infinity-bp #buddypress span.activity,
.infinity-bp #buddypress div#message p,
.infinity-bp .generic-button,
.infinity-bp #buddypress .generic-button,
.infinity-bp .activity-list div.activity-meta a,
.infinity-bp #buddypress .activity-list div.activity-meta a {
	display: inline-block;
	text-decoration: none;
	font: 11px/12px "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
	padding: 3px 6px;
}

.infinity-bp #buddypress thead:first-child tr th,
.infinity-bp #buddypress thead:first-child tr td {
	padding-left: 10px;
	padding-right: 10px;
}
.infinity-bp #buddypress .jcrop-holder img,
.infinity-bp #buddypress #avatar-crop-pane img {
	max-width: none;
}

/*--------------------------------------------------------------
0.2 - Sidebar
--------------------------------------------------------------*/
.infinity-bp #sidebar .item-meta {
	position: relative;
}
.infinity-bp #sidebar div#message p {
	padding-left: 10px;
}
/*--------------------------------------------------------------
1 - Navigation
--------------------------------------------------------------*/
/*--------------------------------------------------------------
1.1 - Pagination
--------------------------------------------------------------*/
.infinity-bp #buddypress div.pagination#user-pag,
.infinity-bp #buddypress div.pagination#pag-top {
	line-height: 100%;
	margin-top: -10px;
	margin-bottom: 10px;
	background: transparent;
}
.infinity-bp #buddypress div.pagination .pag-count {
	font-style: italic;
}

/*--------------------------------------------------------------
2 - WordPress
--------------------------------------------------------------*/
/*--------------------------------------------------------------
2.1 - Images
--------------------------------------------------------------*/

/*--------------------------------------------------------------
3.0 - BuddyPress
--------------------------------------------------------------*/
/*--------------------------------------------------------------
3.1 - Activity
--------------------------------------------------------------*/
.infinity-bp #buddypress form#whats-new-form {
	padding-bottom: 10px;
}
.infinity-bp #buddypress #item-body form#whats-new-form {
	margin-top: -20px;
	padding-top: 30px;
	border: none;
}
.infinity-bp.home-page #buddypress form#whats-new-form {
	margin-bottom: 30px;
}
.infinity-bp #buddypress form#whats-new-form h5 {
	margin: 0px 0 13px 76px;
	font-weight: bold;
	font-size: 1.2em;
	color: #555555;
	padding: 0 0 0;
	line-height: 25px;
}
.infinity-bp #buddypress form#whats-new-form #whats-new-submit {
	margin-top: 5px;
}
.infinity-bp #buddypress form#whats-new-form #whats-new-submit input#aw-whats-new-submit{
	margin: 0 10px 0 0;
}

/*--------------------------------------------------------------
3.1.1 - Activity Listing
--------------------------------------------------------------*/
.infinity-bp #buddypress ul.activity-list > li:first-child {
	padding-top: 20px;
}
.infinity-bp #buddypress .activity-list li .activity-inreplyto {
	color: #a6a6a6;
}
.infinity-bp #buddypress .activity-list .activity-content .activity-inner p {
	margin: 0;
}
.infinity-bp #buddypress .activity-list .activity-content .activity-header img.avatar {
	display: none;
	float: none;
	height: 20px;
	margin: 0 5px 0 0;
	width: 20px;
}
.infinity-bp #buddypress .activity-list .activity-content .activity-inner,
.infinity-bp #buddypress .activity-list .activity-content blockquote {
	background: #fbfbfb;
	border: 1px solid #f4f4f4;
	margin: 15px 5px 15px 5px;
	padding: 20px;
}
.infinity-bp #buddypress .activity-inner img {
	max-width: 100% !important;
	height: auto;
}
.infinity-bp #buddypress div.activity-meta {
	margin-bottom: 0;
}
.infinity-bp #buddypress .activity-list li.mini .activity-meta {
    margin-top: 0;
    padding-top: 0;
}
.infinity-bp .sidebar-activity-tabs {
	padding-bottom: 30px;
}
.infinity-bp #vertical-activity-tabs {
	background: none repeat scroll 0 0 transparent;
	margin-top: 0;
}
.infinity-bp #vertical-activity-tabs,
.infinity-bp #group-navigation,
.infinity-bp #profile-navigation {
	border: 0 none;
	-webkit-box-shadow: none;
	box-shadow: none;
}
.infinity-bp #vertical-activity-tabs ul li {
	float: none !important;
}
.infinity-bp #vertical-activity-tabs ul {
	overflow: inherit;
}
.infinity-bp #buddypress #subnav ul {
	border-top: 0px;
	padding: 0;
}
.infinity-bp #sidebar .item-list-tabs li.loading a {
	padding-left: 30px !important;
}
.infinity-bp #buddypress .activity-list div.activity-meta a {
	font-size: 70%;
}

/*--------------------------------------------------------------
3.1.2 - Activity Comments
--------------------------------------------------------------*/
.infinity-bp #buddypress a.bp-primary-action span,
.infinity-bp #buddypress #reply-title small a span {
	background: none repeat scroll 0 0 #696868;
	border: 1px solid #ffffff;
	border-radius: 3px 3px 3px 3px;
	color: #efefef;
	padding: 2px 4px 0;
	text-shadow: 0 1px 0 #222222;
}
.infinity-bp #buddypress div.activity-comments ul {
	padding: 0;
}
.infinity-bp #buddypress div.activity-comments ul li {
	background: #fbfbfb;
	border: 1px solid #f4f4f4;
}
.infinity-bp #content #buddypress div.activity-comments li {
	background: #fbfbfb;
	border: 1px solid #f4f4f4;
	padding: 10px 15px;
}
.infinity-bp #buddypress div.activity-comments form.ac-form {
	border: 1px solid #f1f1f1;
}

/*--------------------------------------------------------------
3.3 - Directories - Members, Groups, Blogs, Forums
--------------------------------------------------------------*/
.infinity-bp #buddypress div.dir-search {
	float: right;
	margin-top: -60px;
	width: 50%;
	text-align: right;
}
.infinity-bp #buddypress div.dir-search label {
	display: inline-block;
}
.infinity-bp #buddypress div.dir-search input[type=text],
.infinity-bp #buddypress li.groups-members-search input[type=text] {
	display: inline-block;
	margin-right: 10px;
	padding: 8px 12px;
	border: 1px solid #dedede;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	font-size: 100%;
}

.infinity-bp #buddypress .dir-form {
	margin-bottom: 30px;
}
.infinity-bp #buddypress .dir-form h3 .button {
	margin-bottom: 0;
	margin-top: 0;
	padding: 2px 12px;
}
.infinity-bp #buddypress .dir-form .info-box {
	float: left;
	margin-top: 10px;
}

.infinity-bp #content #buddypress .item-title a {
	font-size: 120%;
}

.infinity-bp #buddypress form#send-invite-form .main-column {
	margin-left: 190px;
}

.infinity-bp #buddypress div#invite-list {
	height: 400px;
	overflow: scroll;
	padding: 5px;
	width: 160px;
	float: left;
}

/*--------------------------------------------------------------
3.4 - Errors / Success Messages
--------------------------------------------------------------*/
.infinity-bp #buddypress div#message p {
	font-weight: bold;
}
.infinity-bp #buddypress ul.button-nav li a {
	padding: 8px 10px;
	font-weight: bold;
}
.infinity-bp #buddypress ul.button-nav li.current a {
	background: none repeat scroll 0 0 #efefef;
	border: 1px solid #dddddd;
	border-radius: 3px 3px 3px 3px;
	margin-bottom: 20px;
}

/*--------------------------------------------------------------
3.5 - Forms
--------------------------------------------------------------*/
.infinity-bp #buddypress form.standard-form p.description {
	font-style: italic;
	margin: -5px 0 15px;
}

.infinity-bp .generic-button a,
.infinity-bp #buddypress .generic-button a {
	color: #444;
}

/*--------------------------------------------------------------
3.6 - Ajax Loading
--------------------------------------------------------------*/

/*--------------------------------------------------------------
3.7 - Forums, Tables and Topics
--------------------------------------------------------------*/
.infinity-bp #buddypress ul#topic-post-list li.alt {
	background: #fbfbfb;
}
.infinity-bp #buddypress div#new-topic-post {
	margin: 0;
}
.infinity-bp #buddypress table#message-threads {
	border: 0 none;
	margin-top: 20px;
	margin-bottom: 20px;
	padding: 0;
}
.infinity-bp #buddypress table.forum {
	border: 1px solid #fef8f8;
}
/*-------------------------------------------------------------------------
3.8 - Headers, Lists and Tabs - Activity, Groups, Blogs, Forums, Profiles
-------------------------------------------------------------------------*/
.infinity-bp #buddypress span.activity {
	background: #f9f9f9;
	font-weight: normal;
	margin-top: 0;
	margin-bottom: 7px;
	padding: 0 5px;
}
.infinity-bp #buddypress div#item-header {
	margin-bottom: 15px;
}
.infinity-bp #buddypress div#item-header h2 {
	margin-bottom: 5px;
}
.infinity-bp #buddypress div#item-header h2 span.highlight {
	font-weight: bold;
}
.infinity-bp #buddypress div#item-header h2 span.highlight span {
	background: #444444;
	margin-bottom: 0;
	right: 0;
	top: -1px;
}
.infinity-bp #buddypress #item-header-avatar img {
	width: auto; /* fixes display in IE8 */
	float: none;
}
.infinity-bp #buddypress div#item-header div#item-meta {
	color: #777;
}
.infinity-bp #buddypress div#item-header div#item-actions h3 {
	font-size: 100%;
}
.infinity-bp #buddypress div#item-header ul li {
	list-style: none outside none;
}
.infinity-bp #buddypress div#item-header div#message.info p {
	background: #f9f9f9;
}
.infinity-bp #buddypress div#item-header div#item-header-content {
	margin-left: 0;
}
.infinity-bp #buddypress ul.item-list li {
	padding: 20px 0 10px;
	list-style: none outside none;
}
.infinity-bp #buddypress ul.item-list li div.item-title,
.infinity-bp #buddypress ul.item-list li h4 {
	width: 100%;
}
.infinity-bp #buddypress ul.item-list li div.item-desc {
	width: 68%;
}
.infinity-bp #buddypress ul.item-list li div.action {
    right: 30px;
}
.infinity-bp #buddypress div.item-list-tabs {
	background: none repeat scroll 0 0 #222222;
	min-height: 37px;
	clear: both;
	position: relative;
}

.infinity-bp #buddypress div.item-list-tabs ul li.last {
	color: #bfbdbd;
	margin-bottom: -4px;
	text-transform: inherit;
}
.infinity-bp #buddypress div.item-list-tabs#subnav ul li a {
	color: #999;
}
.infinity-bp #buddypress div.item-list-tabs#subnav ul li a:hover {
	color: #222;
	background: transparent;
}
.infinity-bp #buddypress div.item-list-tabs#subnav ul li.current a {
	background: transparent;
	color: #444444;
}
.infinity-bp #buddypress div.item-list-tabs ul li.last label {
	display: inline;
}
.infinity-bp #buddypress div.item-list-tabs ul li.last select {
	display: inline-block;
	margin-left: 8px;
	margin-top: 4px;
}
.infinity-bp #buddypress div.item-list-tabs ul li a,
.infinity-bp #buddypress div.item-list-tabs ul li span {
	padding: 8px 10px;
}
.infinity-bp #buddypress div.item-list-tabs ul li span {
	color: #777;
	border: 1px solid #555;
}
.infinity-bp #buddypress div.item-list-tabs ul li a span {
	padding: 2px 5px;
	color: #999999;
	background: none repeat scroll 0 0 #333333;
	margin-left: 2px;
}
.infinity-bp #buddypress div.item-list-tabs ul li.selected a,
.infinity-bp #buddypress div.item-list-tabs ul li.current a {
	background: none repeat scroll 0 0 #000;
	color: #dddddd;
}
.infinity-bp #buddypress div.item-list-tabs ul li.selected a span,
.infinity-bp #buddypress div.item-list-tabs ul li.current a span,
.infinity-bp #buddypress div.item-list-tabs ul li a:hover span {
	background-color: #444;
}
.infinity-bp #buddypress div.item-list-tabs ul li.selected a span,
.infinity-bp #buddypress div.item-list-tabs ul li.current a span {
	border-color: #666;
}
.infinity-bp #buddypress div.item-list-tabs#subnav {
	border-bottom: 1px solid #e8e8e8;
	border-top: 0 solid;
	font-family: inherit;
	padding-bottom: 5px;
}

/*--------------------------------------------------------------
3.9 - Private Messaging Threads
--------------------------------------------------------------*/
.infinity-bp #buddypress table#message-threads th + th,
.infinity-bp #buddypress table#message-threads td + td {
	border-left: 0px solid #f2f2f2;
}
.infinity-bp #buddypress div.messages-options-nav {
	background: transparent;
	padding: 8px 15px;
	border-bottom: 1px solid #dddddd;
	border-top: 1px solid #dddddd;
}
.infinity-bp #buddypress div.messages-options-nav select {
	float: right;
}

/*--------------------------------------------------------------
3.10 - Extended Profiles
--------------------------------------------------------------*/

.infinity-bp #buddypress #profile-nav-menu ul {
	list-style: none outside none;
}
.infinity-bp .sidebar-activity-tabs ul {
	list-style: none outside none;
}
.infinity-bp .sidebar-activity-tabs ul li {
	padding-bottom: 3px;
	padding-top: 5px;
}
.infinity-bp .sidebar-activity-tabs ul li a {
	display: block;
	padding-bottom: 10px;
	padding-right: 0;
	padding-top: 10px;
}
.infinity-bp .sidebar-activity-tabs ul li.current,
.infinity-bp .sidebar-activity-tabs ul li.selected {
	padding: 10px 0 12px 30px;
}
.infinity-bp .sidebar-activity-tabs .profile-subnav li.selected {
	padding-bottom: 3px;
	padding-left: 30px;
	padding-top: 5px;
}
.infinity-bp .sidebar-activity-tabs ul li.current a,
.infinity-bp .sidebar-activity-tabs ul li.selected a {
	margin-bottom: -10px;
	margin-top: -5px;
}
/* Profile Action Buttons */
.infinity-bp.bp-user #item-buttons .generic-button,
.infinity-bp.bp-user #profile-nav-menu a {
	color: inherit;
	background: none repeat scroll 0 0 transparent;
	border: 0 none;
	text-shadow: inherit;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
	display: block;
	margin-bottom: -18px;
	padding: 3px 8px;
}
/* Profile Navigation and Groups Navigation */
/* First Level */
.infinity-bp.groups #buddypress div#subnav.item-list-tabs .sidebar-activity-tabs {
	margin-bottom: 30px;
}
.infinity-bp .sidebar-activity-tabs ul li span,
.infinity-bp .sidebar-activity-tabs ul li.current span,
.infinity-bp .sidebar-activity-tabs ul li.selected span {
	display: inline;
	margin-left: 2px;
	padding: 2px 5px;
}
/* Second Level */
.infinity-bp #buddypress #object-nav ul.profile-subnav {
    margin: 15px 0 -12px -30px;
    padding-left: 30px;
}
.infinity-bp #buddypress ul.profile-subnav li {
	-webkit-box-shadow: none;
	box-shadow: none;
	margin-right: 0px;
	font-size: 90%;
}
.infinity-bp #buddypress ul.profile-subnav li a:before {
	padding-left: 30px;
}
.infinity-bp #buddypress ul.profile-subnav li a {
	padding-left: 30px;
}
.infinity-bp .sidebar-activity-tabs ul li.current ul.profile-subnav li a {
	padding-bottom: 8px;
	padding-top: 8px;
	margin: inherit;
}
/* XProfile */
.infinity-bp #buddypress .field-visibility-settings {
	margin-top: 0.5em;
}
.infinity-bp #buddypress .field-visibility-settings legend {
	border: 0;
	font-size: 1em;
	line-height: normal;
	margin: 0;
}
.infinity-bp #buddypress .field-visibility-settings li {
	list-style: none;
}
/* FIX:  hide the horizontal navigation on settings pages using CSS */
.infinity-bp #content #buddypress .settings #item-nav,
.infinity-bp #content #buddypress #object-nav {
	display: none;
}

.infinity-bp #buddypress .registration .error {
	background: #DE3434;
	border: 1px solid #BB4747;
	border-radius: 4px;
	color: white;
	margin-bottom: 0.5em;
	padding: 0.3em;
	width: 85%;
}
.infinity-bp #buddypress span.label {
	color: #999;
	display: block;
	font-size: 80%;
	font-weight: bold;
	margin: 5px 0;
	text-transform: uppercase;
}
.infinity-bp #buddypress #profile-details-section .checkbox span.label,
.infinity-bp #buddypress .checkbox .error {
	margin-left: -1.3em;
}

/*--------------------------------------------------------------
3.11 - Widgets
--------------------------------------------------------------*/
.infinity-bp .widget.buddypress div.item-options {
	float: right;
	margin-right: 0px;
	margin-top: -45px;
	margin-bottom: -16px;
	font-size: 70%;
	color: #73c1e6;
	font-weight: bold;
	text-transform: uppercase;
}

.infinity-bp .widget.buddypress div.item-options a {
	padding-bottom: 2px;
	padding-top: 2px;
}

.infinity-bp .widget.buddypress div.item-avatar img {
	display: block;
	float: left;
	margin: 5px 5px 5px 0;
}

/*--------------------------------------------------------------
4.0 - Media Queries
--------------------------------------------------------------*/
/*--------------------------------------------------------------
4.1 - Smartphones - landscape
--------------------------------------------------------------*/

/*--------------------------------------------------------------
4.2 - Smartphones - portrait
--------------------------------------------------------------*/

/*--------------------------------------------------------------
4.2 - Smartphones - smaller screen sizes
--------------------------------------------------------------*/