/*
----------------------------------------------------------------
//LAYOUT
+ Global & Wraps
+ Header
+ Navigation Menus
+ Content
+ Sidebar
+ Footer
+ Tables
+ Forms

You can disable the css in this file by adding the following code to your child theme config/infinity.ini file

infinity-design-style = off
--------------------------------------------------------------*/
body {
	background: url("../images/design/bg.png") repeat #FFF;
}
h2.page-title a,h2.post-title a,h1.page-title a,h1.post-title a {
	color: inherit;
	margin-bottom: 0;
	margin-top: 0;
}
a {
	color: #628FAA;
	text-decoration: none;
	-webkit-transition: color 0.1s linear;
	-moz-transition: color 0.1s linear;
	-o-transition: color 0.1s linear;
	-ms-transition: color 0.1s linear;
	transition: color 0.1s linear;
}
a:hover {
	color: #666;
	text-decoration: none;
}
/* Global Padding */
#content,
#sidebar,
#content-full,
#footer,
#header {
	padding: 30px;
}

/* Global Negative Padding */
#bbpress-forums,
div.bbp-breadcrumb,
#item-body form#whats-new-form,
div.item-list-tabs,
#powered-by,
#header #site-title,
.negative {
	margin-left: -30px;
    margin-right: -30px;
    padding-left: 30px;
    padding-right: 30px;
}

.main-wrap {
	background: #FFF;
}
#header {
	background: url("../images/design/header-background.jpg") no-repeat scroll transparent;
	-webkit-border-radius: 5px 5px 0px 0px;
	-moz-border-radius: 5px 5px 0px 0px;
	border-radius: 5px 5px 0px 0px;
    padding-bottom: 35px;
    padding-top: 60px;
}
/* Also add a border radius to our pseudo element for header background */
#header:before {
	-webkit-border-radius: 5px 5px 0px 0px;
	-moz-border-radius: 5px 5px 0px 0px;
	border-radius: 5px 5px 0px 0px;
}
h1#site-title,div#site-title {
	border-bottom: 2px solid #DDDDDD;
	-webkit-border-radius: 0 12px 12px 0;
	-moz-border-radius: 0 12px 12px 0;
	border-radius: 0 12px 12px 0;
	border-right: 1px solid #C1C1C1;
	border-top: 1px solid #D0CECE;
	padding: 10px 30px 6px;
}
#site-description {
    font-style: italic;
    color: #999999;
    position: relative;
    font-size: 14px;
    line-height: 180%;
}
/* Global CSS3 Stuff */
.main-menu,.top-menu,.top-wrap .sub-menu,.item-list-tabs,thead:first-child tr th,thead:first-child tr td,.base-menu ul ul {
	background-color: #222222;
	background-image: -webkit-linear-gradient(center top , #333333, #222222);
	background-image: -moz-linear-gradient(center top , #333333, #222222);
	background-image: -o-linear-gradient(center top , #333333, #222222);
	background-image: -ms-linear-gradient(center top , #333333, #222222);
	background-image: linear-gradient(center top , #333333, #222222);
	background-repeat: repeat-x;
	-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), 0 -1px 0 rgba(0, 0, 0, 0.1) inset;
	-moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), 0 -1px 0 rgba(0, 0, 0, 0.1) inset;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), 0 -1px 0 rgba(0, 0, 0, 0.1) inset;
	padding-left: 20px;
	padding-right: 20px;
	border-bottom: 2px solid #628FAA;
	border-top: 2px solid #525151;
}
#footer .widget h4 {
	border-bottom: 1px solid #3E3C3C;
	color: #E0E0E0;
}
#footer {
	padding: 0 30px 5px;
}
#powered-by {
	border-top: 1px solid #434343;
}
.footer-widget  {
    padding-bottom: 10px;
    padding-top: 20px;
}
.author-box,.category-box,.tag-box,.info-box,#sidebar,.activity-inner,div.activity-comments form.ac-form,.postthumb img,span.activity,h1#site-title,div#site-title,.fluid-width-video-wrapper {
	background-color: #FFF;
	background-image: -webkit-linear-gradient(center top , #FFFFFF 0%, #F4F4F4 100%) ;
	background-image: -moz-linear-gradient(center top , #FFFFFF 0%, #F4F4F4 100%) ;
	background-image: -o-linear-gradient(center top , #FFFFFF 0%, #F4F4F4 100%) ;
	background-image: -ms-linear-gradient(center top , #FFFFFF 0%, #F4F4F4 100%) ;
	background-image: linear-gradient(center top , #FFFFFF 0%, #F4F4F4 100%) ;
	-image-webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
	-moz-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
	text-shadow: 0 1px 0 #FFFFFF;
	border: 0px;
}
/* Menus */
.base-menu ul a,div.item-list-tabs ul li a {
	color: #BFBFBF;
	font-weight: 400;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}
.main-menu {
	-webkit-border-radius: 6px 6px 6px 6px;
	-moz-border-radius: 6px 6px 6px 6px;
	border-radius: 6px 6px 6px 6px;
	padding: 5px;
}
.main-menu ul a {
	font-weight: 500;
	-webkit-border-radius: 6px 6px 6px 6px;
	-moz-border-radius: 6px 6px 6px 6px;
	border-radius: 6px 6px 6px 6px;
	margin-right: 10px;
}
#main-menu-wrap .sub-menu {
	margin: 8px 0 0;
}
.base-menu .sub-menu {
	padding-left: 0px !important;
}
.widget {
	margin: 0 0 20px;
}
.widget h4 {
	border-bottom: 1px solid #EDEDED;
	padding-bottom: 10px;
}
/* Footer */
#footer .widget {
	color: #BFBFBF;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}
h1#category-title,h1#tag-title {
	color: #999;
	font-size: 16px;
}
#category-description, #tag-description {
    padding: 10px 10px 10px 0;
}
h1#category-title span,h1#tag-title span {
	color: #555;
	
}
.comment-container {
	padding: 10px;
}
.children .comment-container {
	background: transparent;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}
/* BuddyPress */
img.avatar,
ul.item-list li img.avatar,
.fluid-width-video-wrapper {
	-webkit-border-radius: 3px 3px 3px 3px;
	-moz-border-radius: 3px 3px 3px 3px;
	border-radius: 3px 3px 3px 3px;
	-webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.4);
	-moz-box-shadow: 0 0 4px rgba(0, 0, 0, 0.4);
	box-shadow: 0 0 4px rgba(0, 0, 0, 0.4);
	margin-left: 0;
	padding: 0;
}
.activity-list .activity-content .activity-inner,.activity-list .activity-content blockquote {
	padding: 20px;
}
div.item-options {
	font-size: 8.8px;
	margin-bottom: -16px;
	margin-top: -16px;
}
div.item-list-tabs ul li a span {
	-webkit-border-radius: 4px 4px 4px 4px;
	-moz-border-radius: 4px 4px 4px 4px;
	border-radius: 4px 4px 4px 4px;
	color: #5ABCF8;
}
#subnav ul {
	background: none ;
	border-bottom: 1px solid #FFFFFF;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	border-top: 0px;
}
#subnav.item-list-tabs ul li a {
	color: #787676;
	font-weight: 500;
	text-shadow: none;
}
div#subnav.item-list-tabs {
	border-bottom: 1px solid #E8E8E8;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}
a.loading,li.loading a {
	background-image: url( ../images/design/ajax-loader.gif ) !important;
}
span.activity {
	border: 1px solid #EDEDED;
	-webkit-border-radius: 3px 3px 3px 3px;
	-moz-border-radius: 3px 3px 3px 3px;
	border-radius: 3px 3px 3px 3px;
	-webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04);
	-moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04);
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04);
	color: #888888;
	font-size: 80%;
	font-weight: bold;
	margin-bottom: 10px;
	margin-top: -6px;
	padding: 0 5px;
}
.footer-wrap {
	background: none repeat scroll 0 0 #2F2F2F;
	border-top: 1px solid #454545;
	color: #DDDDDD;
}
#copyright-info {
	text-align: right;
}
/* ======== */
/* ! Misc   */
/* ======== */
thead:first-child tr th,thead:first-child tr td {
	padding-left: 10px;
	padding-right: 10px;
	color: #DDD;
}