/********************/
/*   features.css   */
/********************/

/* ============================================= */
/* ! Typography and Tags (ul, li,a, input etc)   */
/* ============================================= */

body.infinity-typog {
    /* Fix for webkit rendering */
    font: 14px/21px "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #444;
    -webkit-text-size-adjust: 100%;
  	-ms-text-size-adjust: 100%;
  	text-rendering: optimizeLegibility;
  	-webkit-font-smoothing: antialiased;
}

.infinity-typog h1,
.infinity-typog h2,
.infinity-typog h3,
.infinity-typog h4,
.infinity-typog h5,
.infinity-typog h6 {
    font-weight: bold;
}

.infinity-typog h1 {
    font-size: 2em;
    line-height: 1.15em;
    margin: .5em 0 1em 0;
}

.infinity-typog h2 {
    font-size: 1.75em;
    line-height: 1.15em;
    margin: .5em 0 1em 0;
}

.infinity-typog h3 {
    font-size: 1.5em;
    line-height: 1.15em;
    margin: .5em 0 1em 0;
}

.infinity-typog h4 {
    font-size: 1.25em;
    line-height: 1.15em;
    margin: .5em 0 1em 0;
}

.infinity-typog h5 {
    font-size: 1em;
    line-height: 1.6em;
    margin: 0 0 .5em 0;
}

.infinity-typog h6 {
    font-size: .75em;
    line-height: 1.6em;
    margin: 0 0 .5em 0;
}

.infinity-typog h1#category-title,
.infinity-typog h1#tag-title {
    font-style: normal;
    color: #999;
    font-size: 114.3%;
    line-height: 18px;
    margin: 0;
}

.infinity-typog h1#category-title span,
.infinity-typog h1#tag-title span {
	color: #555;
}

.infinity-typog h2.page-title a,
.infinity-typog h2.post-title a,
.infinity-typog h1.page-title a,
.infinity-typog h1.post-title a {
    margin-bottom: 0;
    margin-top: 0;
}

.infinity-typog h2.page-title a:hover,
.infinity-typog h2.post-title a:hover,
.infinity-typog h1.page-title a:hover,
.infinity-typog h1.post-title a:hover {
	color: #999;
}

.infinity-typog h1 .post-edit-link,
.infinity-typog h2 .post-edit-link {
    font-size: 27px !important;
    line-height: 0;
}

.infinity-typog .moretag {
	margin-left: 10px;
}