legend {
  display: block;
  width: 100%;
  margin-bottom: 27px;
  font-size: 19.5px;
  line-height: 36px;
  color: #666;
  border-bottom: 1px solid #eee;
  -webkit-margin-collapse: separate;
}
label,
input,
select,
textarea {
  font-size: normal;
  font-weight: 13px;
  line-height: 18px;
  margin-bottom: 10px;
}
label {
    color: #999999;
    display: block;
    font-size: 80%;
    font-weight: bold;
    margin: 5px 0;
    text-transform: uppercase;
}
label ul {
	padding: 0;
}
label li {
	text-transform: none;
	color: inherit;
	font-weight: normal;
}
input[type=image], input[type=checkbox], input[type=radio] {
  width: auto;
  height: auto;
  padding: 0;
  margin: 3px;
  *margin-top: 0;
  /* IE6-7 */

  line-height: normal;
  border: none;
  cursor: pointer;
}
input[type=file] {
  padding: initial;
  line-height: initial;
  border: initial;
  background-color: #ffffff;
  background-color: initial;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
input[type=button], input[type=reset], input[type=submit] {
  width: auto;
  height: auto;
}
select, input[type=file] {
  height: 27px;
  *margin-top: 4px;
  /* For IE7, add top margin to align select with labels */

  line-height: 27px;
}
select[multiple], select[size] {
  height: inherit;
}
input[type=image] {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
textarea {
  height: auto;
}
.radio, .checkbox {
  padding-left: 18px;
}
.radio input[type=radio], .checkbox input[type=checkbox] {
  float: left;
  margin-left: -18px;
}
.controls > .radio:first-child, .controls > .checkbox:first-child {
  padding-top: 6px;
}
.radio.inline, .checkbox.inline {
  display: inline-block;
  margin-bottom: 0;
}
.radio.inline + .radio.inline, .checkbox.inline + .checkbox.inline {
  margin-left: 10px;
}
input, textarea {
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.1);
  -webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
  -moz-transition: border linear 0.2s, box-shadow linear 0.2s;
  -ms-transition: border linear 0.2s, box-shadow linear 0.2s;
  -o-transition: border linear 0.2s, box-shadow linear 0.2s;
  transition: border linear 0.2s, box-shadow linear 0.2s;
  padding: 10px;
}
input:focus, textarea:focus {
  border-color: rgba(82, 168, 236, 0.8);
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.1), 0 0 8px rgba(82, 168, 236, 0.6);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.1), 0 0 8px rgba(82, 168, 236, 0.6);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.1), 0 0 8px rgba(82, 168, 236, 0.6);
  outline: 0;
}
input[type=file]:focus, input[type=checkbox]:focus, select:focus {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  outline: 1px dotted #666;
}
.input-mini {
  width: 60px;
}
.input-small {
  width: 90px;
}
.input-medium {
  width: 150px;
}
.input-large {
  width: 210px;
}
.input-xlarge {
  width: 270px;
}
.input-xxlarge {
  width: 530px;
}
input[class*="span"],
select[class*="span"],
textarea[class*="span"],
.uneditable-input {
  float: none;
  margin-left: 0;
}
input:-moz-placeholder {
  color: #999999;
}
input::-webkit-input-placeholder {
  color: #999999;
}
.help-block {
  margin-top: 5px;
  margin-bottom: 0;
  color: #999999;
}
.help-inline {
  *position: relative;
  /* IE6-7 */

  *top: -5px;
  /* IE6-7 */

  display: inline;
  padding-left: 5px;
}
.input-prepend, .input-append {
  margin-bottom: 5px;
  zoom: 1;
}
.input-prepend:before,
.input-append:before,
.input-prepend:after,
.input-append:after {
  display: table;
  *display: inline;
  content: "";
  zoom: 1;
}
.input-prepend:after, .input-append:after {
  clear: both;
}
.input-prepend input,
.input-append input,
.input-prepend .uneditable-input,
.input-append .uneditable-input {
  -webkit-border-radius: 0 3px 3px 0;
  -moz-border-radius: 0 3px 3px 0;
  border-radius: 0 3px 3px 0;
}
.input-prepend .uneditable-input, .input-append .uneditable-input {
  border-left-color: #ccc;
}
.input-prepend .add-on, .input-append .add-on {
  float: left;
  display: block;
  width: auto;
  min-width: 16px;
  height: 18px;
  margin-right: -1px;
  padding: 4px 4px 4px 5px;
  font-weight: normal;
  line-height: 18px;
  color: #999999;
  text-align: center;
  text-shadow: 0 1px 0 #ffffff;
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  -webkit-border-radius: 3px 0 0 3px;
  -moz-border-radius: 3px 0 0 3px;
  border-radius: 3px 0 0 3px;
}
.input-prepend .active, .input-append .active {
  background-color: #a9dba9;
  border-color: #46a546;
}
.input-prepend .add-on {
  *margin-top: 1px;
  /* IE6-7 */

}
.input-append input, .input-append .uneditable-input {
  float: left;
  -webkit-border-radius: 3px 0 0 3px;
  -moz-border-radius: 3px 0 0 3px;
  border-radius: 3px 0 0 3px;
}
.input-append .uneditable-input {
  border-right-color: #ccc;
}
.input-append .add-on {
  margin-right: 0;
  margin-left: -1px;
  -webkit-border-radius: 0 3px 3px 0;
  -moz-border-radius: 0 3px 3px 0;
  border-radius: 0 3px 3px 0;
}
.search-query {
  padding-left: 14px;
  padding-right: 14px;
  margin-bottom: 0;
  -webkit-border-radius: 14px;
  -moz-border-radius: 14px;
  border-radius: 14px;
}
.form-search input,
.form-inline input,
.form-horizontal input,
.form-search textarea,
.form-inline textarea,
.form-horizontal textarea,
.form-search select,
.form-inline select,
.form-horizontal select,
.form-search .uneditable-input,
.form-inline .uneditable-input,
.form-horizontal .uneditable-input {
  display: inline-block;
  margin-bottom: 0;
}
.form-search label, .form-inline label {
  display: inline-block;
}
.control-group {
  margin-bottom: 18px;
}
.form-horizontal .control-group > label {
  float: left;
  width: 140px;
  padding-top: 5px;
  text-align: right;
}
.form-horizontal .controls {
  margin-left: 160px;
}
.form-horizontal .form-actions {
  padding-left: 160px;
}