/* ================ */
/* ! Post Formats   */
/* ================ */

.format-standard .posttitle,
.format-gallery .posttitle,
.format-video .posttitle,
.format-aside .posttitle, 
.format-link .posttitle,
.format-audio .posttitle {
padding-right: 40px;
}

.format-video {
background: url("../images/icons/post-format-video.png") no-repeat scroll 97% 25px transparent;
}

.format-link {
background: url("../images/icons/post-format-link.png") no-repeat scroll 100% 25px transparent;
}

.format-gallery {
background: url("../images/icons/post-format-gallery.png") no-repeat scroll 97% 25px transparent;
padding-right: 30px;
}

.format-audio {
background: url("../images/icons/post-format-audio.png") no-repeat scroll 97% 7px transparent;
}


.format-chat {
background: url("../images/icons/post-format-chat.png") no-repeat scroll 97% 25px transparent;
}

.format-status {
background: url("../images/icons/post-format-status.png") no-repeat scroll 97% 25px transparent;
}

.format-quote {
background: url("../images/icons/post-format-quote.png") no-repeat scroll 97% 25px transparent;
}

/* Post Meta Icons */
span.post-author,
span.post-category,
span.time-posted,
span.post-comments { margin-right: 10px }
span.post-author {
    background: url("../images/icons/black.png") no-repeat scroll -728px -1228px transparent;
    padding-left: 18px;
}
span.post-category {
    background: url("../images/icons/black.png") no-repeat scroll -3px -37px transparent;
    padding-left: 22px;
}
span.time-posted {
    background: url("../images/icons/black.png") no-repeat scroll -4px -1703px transparent;
    padding-left: 19px;
}
span.post-comments,
span.comments a {
    background: url("../images/icons/black.png") no-repeat scroll -724px -1089px transparent;
    float: right;
    padding-left: 22px;
    margin-right: 5px;
    border-right: 0 none;
}
span.post-tags {
    background: url("../images/icons/black.png") no-repeat scroll -1px -513px transparent;
    margin-right: 0;
    padding-left: 23px;
}

/* Stream Icons. no shorthand CSS to maintain hover effects */
li#activity-all a {
    background-image: url("../images/icons/white.png");
    background-position: -724px -1117px;
    background-repeat: no-repeat;
    padding-left: 23px;
}
li#activity-favorites a {
    background-image: url("../images/icons/white.png");
    background-repeat: no-repeat;
    background-position: 0px -29px;
    padding-left: 24px;
}
li#activity-friends a {
    background-image: url("../images/icons/white.png");
    background-repeat: no-repeat;
    background-position: -722px -371px;
    padding-left: 24px;
}
li#activity-groups a {
    background-image: url("../images/icons/white.png");
    background-repeat: no-repeat;
    background-position: 0 -1526px;
    padding-left: 24px;
}
li#activity-links a {
    background-image: url("../images/icons/white.png");
    background-repeat: no-repeat;
    background-position: -723px -1084px;
    padding-left: 24px;
}
li#activity-mentions a {
    background-image: url("../images/icons/white.png");
    background-position: -724px -1084px;
    background-repeat: no-repeat;
    padding-left: 23px;
}
li#activity-following a, li#following-personal-li a {
    background-image: url("../images/icons/white.png");
    background-repeat: no-repeat;
    background-position: 1px -1186px;
    padding-left: 24px;
}
/* Group Icons */
li#members-groups-li a {
    background: url("../images/icons/white.png") no-repeat scroll -724px -1221px transparent;
    padding-left: 25px;
}
li#forums-groups-li a {
    background: url("../images/icons/white.png") no-repeat scroll -725px -1119px transparent;
    padding-left: 25px;
}
li#admin-groups-li a {
    background: url("../images/icons/white.png") no-repeat scroll 2px -744px transparent;
    padding-left: 25px;
}
li#invite-groups-li a {
    background: url("../images/icons/white.png") no-repeat scroll 0px -675px transparent;
    padding-left: 25px;
}
li#home-groups-li a {
    background: url("../images/icons/white.png") no-repeat scroll 2px -1833px transparent;
    padding-left: 25px;
}
/* Profile Icons  */
#user-activity {
    background: url("../images/icons/white.png") no-repeat scroll -724px -914px transparent;
    padding-left: 24px;
}
#user-xprofile {
    background: url("../images/icons/white.png") no-repeat scroll -724px -1222px transparent;
    padding-left: 25px;
}
#user-friends {
    background: url("../images/icons/white.png") no-repeat scroll -725px -1119px transparent;
    padding-left: 25px;
}
#user-groups {
    background: url("../images/icons/white.png") no-repeat scroll 2px -1527px transparent;
    padding-left: 25px;
}
#user-profile { background: url("../images/icons/white.png") no-repeat scroll 2px -1492px transparent }
#user-links {
    background: url("../images/icons/white.png") no-repeat scroll -724px -1224px transparent;
    padding-left: 25px;
}
#user-settings {
    background: url("../images/icons/white.png") no-repeat scroll -725px -949px transparent;
    padding-left: 25px;
}
#user-messages {
    background: url("../images/icons/white.png") no-repeat scroll 0 -914px transparent;
    padding-left: 24px;
}

#user-forums {
background: url("../images/icons/white.png") no-repeat scroll -723px -1117px transparent;
padding-left: 24px;
}

a.send-message {
    background: url("../images/icons/black.png") no-repeat scroll -728px -1124px transparent;
    padding-left: 19px;
    padding-top: 2px;
}

.follow-button a.follow {
    background: url("../images/icons/black.png") no-repeat scroll -4px -1193px transparent;
    padding-left: 19px;
    padding-top: 2px;
}
div#post-mention a.mention {
    background: url("../images/icons/black.png") no-repeat scroll -728px -1092px transparent;
    padding-left: 19px;
    padding-top: 2px;
}

div#message p {
    background: url("../images/icons/black.png") no-repeat scroll -724px -336px #FFFFE4;
    font-weight: bold;
    padding-left: 22px !important;
}

/* Activity Stream Icons  */
.bbp_reply_create .activity-header, .new_blog_comment .activity-header, .new_forum_post .activity-header, .activity_comment .activity-header {
    background: url("../images/icons/black.png") no-repeat scroll 0 -1836px transparent;
    padding-left: 16px;
}

.bbp_topic_create .activity-header,.new_forum_topic .activity-header {
    background: url("../images/icons/black.png") no-repeat scroll -722px -1122px transparent;
    padding-left: 20px;
}

.new_blog_post .activity-header p {
    background: url("../images/icons/black.png") no-repeat scroll -723px -715px transparent;
    padding-left: 17px;
}

.activity_update .activity-header {
    background: url("../images/icons/black.png") no-repeat scroll -720px -1089px transparent;
    padding-left: 20px;
}

.activity_update .activity-header {
    background: url("../images/icons/black.png") no-repeat scroll -720px -1089px transparent;
    padding-left: 20px;
}

.created_group .activity-header p {
    background: url("../images/icons/black.png") no-repeat scroll 0 -1531px transparent;
    padding-left: 16px;
}
