/* Using some fancy CSS magic to add our icons */

.infinity-icons .item-list-tabs * a:before,
.infinity-icons #item-buttons * a:before,
.infinity-icons .sidebar-activity-tabs * a:before,
.infinity-icons .button:before,
.infinity-icons #message p:before,
.infinity-icons #subnav * :before,
.infinity-icons #category-title:before,
.infinity-icons #tag-title:before,
.infinity-icons span.post-tags:before,
.infinity-icons .generic-button a:before,
.infinity-icons #category-title:before,
.infinity-icons #tag-title:before,
.infinity-icons span.post-tags:before,
.infinity-icons .post-meta-data *:before,
.infinity-icons .post-title:before,
.infinity-icons #author-description h3:before,
.infinity-icons .single_add_to_cart_button:before,
.infinity-icons .load-more a:before,
.infinity-icons #whats-new,
.infinity-icons .main-menu * :before,
.infinity-icons .link-home h2 a:before,
.infinity-icons div.link-vote-panel div.clickers a.up:before,
.infinity-icons #bbpress-forums .bbp-forums-list li a:before,
.infinity-icons #favorite-toggle:before,
.infinity-icons #subscription-toggle:before,
.infinity-icons .single-topic h1:before,
.infinity-icons .group-forum-topic #bbpress-forums h3:before {
    font-weight: normal;
    font-family: "iconsweetsRegular";
    color: inherit;
    padding-right: 2px;
    font-size: 130%;
    position: relative;
    top: 2px;
    text-transform: none;
}

/* WordPress Icons */
.infinity-icons .post-top {
    padding-top: 0px
}

/* Blog Icons */
.infinity-icons #category-title:before {
    content: "L"
}

.infinity-icons #tag-title:before,
.infinity-icons span.post-tags:before {
    content: "."
}

.infinity-icons #author-description h3:before {
    content: "a"
}

/* ================ */
/* ! Post Formats   */
/* ================ */
.infinity-icons .format-quote .post-meta-data {
    display: none
}

.infinity-icons .format-quote .entry {
    border-left: 5px solid #EEEEEE;
    font-family: "Georgia",serif;
    font-size: 140%;
    line-height: 140%;
    margin-bottom: 18px;
    padding-left: 15px;
}

.infinity-icons .post-title:before {
    background: none repeat scroll 0 0 #555555;
    border-radius: 50% 50% 50% 50%;
    color: #FFFFFF;
    float: right;
    font-size: 140%;
    padding: 0 0.8% 1.5%;
    position: relative;
    text-shadow: -1px 1px 0 #000000;
    top: -8px;
}

.infinity-icons .format-video .post-title:before {
    content: "F"
}

.infinity-icons .format-link .post-title:before {
    content: "Q"
}

.infinity-icons .format-gallery .post-title:before {
    content: "3"
}

.infinity-icons .format-image .post-title:before {
    content: "2"
}

.infinity-icons .format-audio .post-title:before {
    content: "4"
}

.infinity-icons .format-chat .post-title:before {
    content: '"'
}

.infinity-icons .format-status .post-title:before {
    content: "#"
}

.infinity-icons .format-quote .post-title:before {
    content: "'"
}

/* Post Meta Icons */
.infinity-icons span.post-author:before {
    content: "d"
}

.infinity-icons span.post-category:before {
    content: "L"
}

.infinity-icons span.time-posted:before {
    content: "R"
}

.infinity-icons span.post-comments:before,
.infinity-icons span.comments a:before {
    content: "#"
}

/* BuddyPress Icons */
.infinity-icons .activity-comments * :before {
    display: none
}

.infinity-icons #item-buttons * a:before,
.infinity-icons .activity-meta * a:before,
.infinity-icons .button:before,
.infinity-icons .generic-button a:before {
    display: inline-block;
    font-size: 135%;
    padding: 0 2px 6px 1px;
}

/* Some Small Padding tweaks to make the icons look sweet */
.infinity-icons div#item-header div.generic-button,
.infinity-icons div#item-header a.button {
    padding: 0 8px
}

.infinity-icons #sidebar .sidebar-activity-tabs ul li a {
    padding-bottom: 8px;
    padding-top: 4px;
    text-decoration: none;
}

.infinity-icons div#object-nav ul li a {
    padding: 4px 6px 8px !important;
    text-decoration: none;
}

.infinity-icons div.activity-type-tabs li a {
    padding: 4px 6px 8px !important;
    text-decoration: none;
}

.infinity-icons .loading a:before {
    display: none !important
}

.infinity-icons div.item-list-tabs ul li.loading a {
    padding-top: 9px !important
}

/* Stream Icons. no shorthand CSS to maintain hover effects */
.infinity-icons li#activity-all a:before {
    content: "s"
}

.infinity-icons li#activity-favorites a:before,
.infinity-icons .button.fav:before,
.infinity-icons .button.unfav:before {
    content: "h"
}

.infinity-icons li#activity-friends a:before {
    content: "a"
}

.infinity-icons li#activity-groups a:before,
.infinity-icons .widget_bp_groups_widget {
    content: "f"
}

.infinity-icons li#activity-links a:before,
.infinity-icons #nav-links:before {
    content: "Q"
}

.infinity-icons li#activity-mentions a:before {
    content: "#"
}

.infinity-icons li#activity-following a,
.infinity-icons li#following-personal-li a:before {
    content: "*"
}

.infinity-icons .acomment-reply:before {
    content: "w"
}

.infinity-icons .delete-activity:before,
.infinity-icons .generic-button.is_friend a:before,
.infinity-icons .generic-button.pending_friend a:before {
    content: "X"
}

.infinity-icons .load-more a:before {
	content: "s"
}

/* Group Icons */
.infinity-icons li#members-groups-li a:before {
    content: "e"
}

.infinity-icons li#forums-groups-li a:before {
    content: '"'
}

.infinity-icons li#admin-groups-li a:before,
.infinity-icons li#link-admin-personal-li a:before {
    content: "i"
}

.infinity-icons li#invite-groups-li a:before {
    content: "A"
}

.infinity-icons li#home-groups-li a:before,
.infinity-icons li#link-home-personal-li a:before {
    content: "0"
}

.infinity-icons li#nav-docs-groups-li a:before,
.infinity-icons #user-docs:before {
    content: "L"
}
.infinity-icons #bp-create-doc-button:before {
    content: "C";
    font-size: 165%;
}
.infinity-icons li#nav-notifications-groups-li a:before {
    content: "6"
}

/* Profile Icons  */
.infinity-icons #user-activity:before {
    content: "s"
}

.infinity-icons #user-xprofile:before {
    content: "?"
}

.infinity-icons #user-friends:before {
    content: "a"
}

.infinity-icons #user-groups:before {
    content: "f"
}

.infinity-icons #user-profile:before {
    content: "?"
}

.infinity-icons #user-links:before {
    content: "P"
}

.infinity-icons #user-messages:before,
.infinity-icons #nav-invite-anyone:before,
.infinity-icons #user-invite-anyone:before {
    content: "A"
}

.infinity-icons #user-forums:before {
    content: '"'
}

.infinity-icons #user-blogs:before,
.infinity-icons #user-sites:before {
    content: "C"
}

.infinity-icons li#activity-filter-select label:before {
    content: "."
}

.infinity-icons a.send-message:before,
.infinity-icons #nav-invite-anyone:before {
    content: "A"
}

.infinity-icons a.friendship-button:before {
    content: "a"
}

.infinity-icons .follow-button a.follow:before {
    content: "*"
}

.infinity-icons div#post-mention a.mention:before {
    content: "#"
}

.infinity-icons #user-settings:before {
    content: "i"
}

.infinity-icons div#message p {
    background-color: #FEFAEB;
    border: 1px solid #F1F1F1;
    border-radius: 4px 4px 4px 4px;
    display: block;
    font-size: 12px;
    padding: 10px 15px;
}

.infinity-icons div#message p:before {
    content: "_"
}
/* BBPress */
.infinity-icons #nav-forums:before,
.infinity-icons #nav-forum:before {
    content: '"'
}
.infinity-icons #favorite-toggle:before {
    content: "h";
    top: 0;
}
.infinity-icons #subscription-toggle:before {
    content: "A";
    position: relative;
    right: -9px;
    top: 0;
}
.infinity-icons #bbpress-forums .bbp-forums-list li a:before {
    color: #999999;
    content: "g";
    text-shadow: 0 -1px 0 #E3E7E7;
}
.infinity-icons .groups #item-buttons .group-button a:before {
    content: "#";
    font-size: 150%;
    padding: 0 2px 0 0;
}
/* Main Menu Icons */
.infinity-icons .base-menu li ul li a:before {
    content: none !important
}

/* Make sure items with an icon line up with non-icon items */
.infinity-icons #main-menu-wrap .icon-groups a,
.infinity-icons #main-menu-wrap .icon-members a,
.infinity-icons #main-menu-wrap .icon-activity a,
.infinity-icons #main-menu-wrap .icon-members a,
.infinity-icons #main-menu-wrap .icon-forums,
.infinity-icons #main-menu-wrap .icon-links a,
.infinity-icons #main-menu-wrap .icon-sites a,
.infinity-icons #main-menu-wrap .icon-blogs a   {
	margin-top: -5px;
}

.infinity-icons #main-menu-wrap .icon-groups a:before {
    content: "f"
}

.infinity-icons #main-menu-wrap .icon-members a:before {
    content: "e"
}

.infinity-icons #main-menu-wrap .icon-activity a:before {
    content: "s"
}

.infinity-icons #main-menu-wrap .icon-forums a:before {
    content: '"'
}

.infinity-icons #main-menu-wrap .icon-links a:before {
    content: "Q"
}

.infinity-icons #main-menu-wrap .icon-sites a:before,
.infinity-icons #main-menu-wrap .icon-blogs a:before {
    content: "C"
}
.infinity-icons #bp-adminbar-notifications-menu a:before {
    content: "6"
}

.infinity-icons #bp-adminbar-account-menu a:before {
    content: "a"
}

.infinity-icons .login-form-link a:before {
    content: "y"
}

.infinity-icons #join-us-link a:before {
    content: "w"
}
/* WooCommerce Icons */
.infinity-icons a.add_to_cart_button:before {
	content: "$"
}
.infinity-icons .product_type_variable:before {
	content: "l" !important;
}
.infinity-icons .coupon:before {
	 color: inherit;
    font-family: "iconsweetsRegular";
    font-size: 180%;
    font-weight: normal;
    padding-right: 2px;
    position: relative;
    text-transform: none;
    top: 2px;
	content: "(";
	float: left;
	opacity: 0.7;
}
/* BuddyPress Links Icons */
.infinity-icons .link-home h2 a:before {
    content: "Q";
    font-size: 100%;
    opacity: 0.6;
}
.infinity-icons div.link-vote-panel div.clickers a.up {
	background: transparent;
}
.infinity-icons div.link-vote-panel div.clickers a.up:before {
	color: inherit;
    height: 20px;
    position: relative;
    width: 20px;
	content: "[";
}