/* ============================ */
/* ! BuddyPress Activity Plus   */
/* ============================ */
.bpfb_form_container {
    background-color: transparent !important;
    padding: 0 !important;
}
#bpfb_addPhotos {
    background: url(../images/icons/black.png") 0px -68px;
    margin-right: -3px;
    padding-bottom: 0;
    padding-top: 8px;
}
#bpfb_addVideos {
    background: url("../images/icons/black.png") 0 -1628px transparent;
    margin-right: -7px;
    padding-bottom: 0;
    padding-top: 13px;
}
#bpfb_addLinks {
    background: url("../images/icons/black.png") repeat scroll 0 -811px transparent;
    padding-bottom: 0;
    padding-top: 13px;
}
#bpfb_video_url,
#bpfb_link_preview_url,
.bpfb_remote_image {
    width: 60% !important;
    margin-top: 10px;
}
.qq-uploader { margin-top: 10px }
#bpfb_tmp_photo_list {
    background: none repeat scroll 0 0 #F5FDFF;
    color: #878787;
    font-style: italic;
}
#bpfb_addPhotos img,
#bpfb_addVideos img,
#bpfb_addLinks img {
    -moz-opacity: .00;
    filter: alpha(opacity=00);
    opacity: .00;
}
div.bpfb_preview_container object embed { width: 500px !important }

/* ===================== */
/* ! WP-FB-Autoconnect   */
/* ===================== */

