/* ============================================= */
/* ! Typography and Tags (ul, li,a, input etc)   */
/* ============================================= */
body {
    /* Fix for webkit rendering */
    font: 14px/21px "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #444;
    -webkit-text-size-adjust: 100%;
  	-ms-text-size-adjust: 100%;
  	text-rendering: optimizeLegibility;
  	-webkit-font-smoothing: antialiased;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
}
h1 {
    font-size: 2em;
    line-height: 1.15em;
    margin: .5em 0 1em 0;
}
h2 {
    font-size: 1.75em;
    line-height: 1.15em;
    margin: .5em 0 1em 0;
}
h3 {
    font-size: 1.5em;
    line-height: 1.15em;
    margin: .5em 0 1em 0;
}
h4 {
    font-size: 1.25em;
    line-height: 1.15em;
    margin: .5em 0 1em 0;
}
h5 {
    font-size: 1em;
    line-height: 1.6em;
    margin: 0 0 .5em 0;
}
h6 {
    font-size: .75em;
    line-height: 1.6em;
    margin: 0 0 .5em 0;
}
h1#category-title,
h1#tag-title {
    font-style: normal;
    color: #999;
    font-size: 114.3%;
    line-height: 18px;
    margin: 0;
}
h1#category-title span,
h1#tag-title span { color: #555 }

h2.page-title a, h2.post-title a, h1.page-title a, h1.post-title a {
    margin-bottom: 0;
    margin-top: 0;
}
h2.page-title a:hover, h2.post-title a:hover, h1.page-title a:hover, h1.post-title a:hover { color: #999 }

h1 .post-edit-link, h2 .post-edit-link {
    font-size: 27px !important;
    line-height: 0;
}

.moretag { margin-left: 10px }