/* ! WordPress Styling

This CSS file contains all the default WordPress Styling.
//Posts & Pages	
	+ Display
	+ Meta & Breadcrumbs
	+ Author/Category/Tag Boxes
	+ Comments

You can disable the css in this file by adding the following code to your child theme config/infinity.ini file

infinity-wordpress-style = off

/*
================================================== */
/* Post Meta */
span.edit-link {
    margin-left: 1px;
    margin-right: 9px;
    float: right;
}
span.edit-link a { color: #999 }
/* The actual Posts*/
.author-avatar {
    float: left;
    margin-bottom: 0;
    margin-right: 10px;
    margin-top: 0;
}
.entry {
    margin-bottom: 30px;
    margin-top: 30px;
}
.post dd.wp-caption p.wp-caption-text,
.wp-caption-text {
    font-style: italic;
    line-height: 17px;
    margin: 0 !important;
    padding: 0 4px 5px 0;
    font-size: 12px;
}
.post-meta-data span {
    border-right: 1px solid #DDD;
    margin-right: 5px;
    padding-right: 5px;
}
.post .author-box img,
.comment-avatar-box img {
    float: none;
    margin: 0;
    border: 4px solid #fff;
}
.post img.alignright {
    margin: 0 0 2px 7px;
    display: inline;
    padding: 4px;
}
.post img.wp-smiley {
    float: none !important;
    clear: none !important;
    margin: 0 !important;
    border: none !important;
    padding: 0 !important;
}
.post-content {
margin-bottom: 60px;
}
.post img.alignleft {
    margin: 0 7px 2px 0;
    display: inline;
    padding: 4px;
}
.post .aligncenter,
.post .aligncenter {
    margin-left: auto;
    margin-right: auto;
    display: block;
}
.post img.centered,
img.aligncenter {
    margin-left: auto;
    margin-right: auto;
    display: block;
}
.post img {
    max-width: 100%;
    height: auto;
}
.post .wp-caption {
    background-color: #F9F9F9;
    border: 1px solid #DDDDDD;
    border-radius: 3px 3px 3px 3px;
    font-size: 90%;
    font-style: italic;
    padding-bottom: 7px;
    padding-top: 4px;
    text-align: center;
}
.post .wp-caption img {
    margin: 0;
    border: 0 none;
    padding: 0;
}
.postthumb {
	margin-bottom: 20px;
}
.postthumb img {
    max-width: 100%;
    height: auto;
}
.post .gallery-caption { }
#single-attachment img {
margin-top: 25px;
margin-bottom: 25px;
}
/* Post Titles */
/* Captions */
/* Block Quotes */
/* page links */
.page-link {
    font-weight: bold;
    word-spacing: 0.5em;
    margin: 0 0 22px;
}
.page-link a:active,
.page-link a:hover { color: #FF4B33 }
.page-link a:link,
.page-link a:visited {
    font-weight: normal;
    border: 1px solid #DDD;
    padding: 5px 8px;
}
.home .sticky .page-link a {}
/* code in posts */
.post .alignright {
    margin-left: 15px;
    float: right;
    margin-bottom: 15px;
}
.post .alignleft {
    margin-right: 15px;
    float: left;
}
/* per post navigation and pagination */
ul.page-numbers li a,
ul.page-numbers li span,
.paged-navigation,
.comment-navigation {
    background: none repeat scroll 0 0 #FFFFFF;
    color: inherit;
    border: 1px solid #DDDDDD;
    border-radius: 4px 4px 4px 4px;
    font-size: 14px;
    font-weight: bold;
    height: 38px;
    margin: 0 2px 10px 0;
    padding: 5px 8px;
    text-align: center;
    word-spacing: 10px;
}
ul.page-numbers li a:hover,
.paged-navigation:hover,
.comment-navigation:hover {
background: #444;
color: #FFF;
}
ul.page-numbers {
    text-align: center;
    margin-bottom: 20px;
}
ul.page-numbers li span {
background: #444;
color: #FFF;
}
ul.page-numbers li { display: inline }
.pagination {
    border-bottom: 1px solid #EAEAEA;
    height: 16px;
    padding-left: 0px;
    padding-bottom: 10px;
    color: #888888;
    font-size: 90%;
}
.pagination#user-pag,
.friends .pagination,
.mygroups .pagination,
.myblogs .pagination {
    background: #F9F9F9;
    border: none;
    padding: 8px 15px;
}
/*Post Meta */
.post-meta-data,
.comment-meta,
.comment-options,
p#breadcrumbs {
    border-bottom: 1px solid #EFEFEF;
    border-top: 1px solid #EFEFEF;
    color: #AAAAAA;
    font-size: 11.5px;
    margin-top: 10px;
    min-height: 20px;
    padding: 3px 0;
    margin-bottom: 10px;
}
span.post-comments {
	float: right;
	margin-right: 5px;
	border-right: 0px;
}
p#breadcrumbs { margin-top: 0px }
/* Intro Boxes for authors, categories and tags */
.post-author-box {
    float: right;
    padding: 3px;
    display: none;
}
.post-author-box img {
    width: 50px;
    height: 50px;
}
.author-box,
.category-box,
.tag-box,
.info-box {
    margin-bottom: 20px;
    border: 1px solid #DDDDDD;
    background: #F9F9F9;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    padding: 10px 20px;
}

#category-description p,
#tag-description p {
font-style: italic;
margin-top: 10px;
margin-bottom: 0px;
}

.authorbox h3 {
    font-style: normal;
    margin-bottom: 10px;
    color: #555555;
    font-size: 16px;
}
#author-description {
    overflow: hidden;
    padding-bottom: 15px;
}
#author-description img {
    margin-top: 2px;
    margin-right: 10px;
    float: left;
}
#category-description,
#tag-description {
    padding: 10px;
}
#author-social {
    float: right;
    width: 25%;
}

/*Search Page*/

.search-title {
    font-size: 18px;
    color: #999;
}

.search-title span {
color: #444;
}

/* ============ */
/* ! Comments   */
/* ============ */
.comment-content {
    margin-bottom: 40px;
    position: relative;
}
#comments {
    margin-top: 20px;
    position: relative;
}
#comments .pingbacks li.pingback { margin: 10px 0 }
#comments .pingbacks li.pingback .reply { display: none }
#comments .cancel-comment-reply { margin: 10px 0 }
#comments .comment-entry p {
    padding-left: 10px;
    padding-right: 10px;
    margin: 0 0 20px 62px;
}
#comments .bypostauthor { background: #F9F9F9 }
#comments .comment-head { margin: 0 0 15px 70px }
#comments .comment-head .name {
    font-weight: bold;
    margin: 0;
}
#comments .comment-head .date,
#comments .comment-head .edit,
#comments .comment-head .perma { font-size: 11px }
#comments .avatar img {
    vertical-align: middle;
    width: 40px;
    height: 40px;
    margin: 0;
}
#comments ul.children {
    margin: 10px 10px 0 25px;
    padding: 0;
}
#comments .navigation { }
#comments .navigation a {
    text-decoration: none;
    margin: 15px 0 0 0;
    display: block;
}
#comments .navigation a:hover { }
#comments blockquote {
    font-style: italic;
    font-weight: bold;
    line-height: 150%;
    margin-left: 71px;
    padding-bottom: 5px;
    padding-left: 0;
    padding-top: 20px;
}
#comments .comment {
    margin-top: 10px;
    list-style-type: none;
    width: 100%;
}
#comments .comment .comment-container {
    border-bottom: 1px solid #F4F4F4;
    padding-bottom: 15px;
    position: relative;
}
#comments h3#pings { margin-top: 25px }
#comments  .avatar {
    float: left;
    margin: 0 15px 10px 0;
}
#comments .reply { 
    left: 0;
    position: absolute;
    top: 60px;
}
#comments .reply a { 
    font-size: 70%;
    padding: 0 6px;
}
#comments h3 { }
ol.commentlist {
    margin-left: 0px;
    list-style: none;
    padding-left: 0px;
}
#comments .unapproved {
font-style: italic;
color: #999;
}
/* The Comments Forms */
#respond { margin: 40px 0 0 }
#respond #reply-title small {
    margin-top: 5px;
    display: block;
    font-size: 13px;
}
#respond span.required {
    color: #CFCFCF;
    display: block;
    float: left;
    font-size: 16px;
    font-weight: bold;
    margin: 4px 0 0 -12px;
}
#respond .right {
    float: left;
    width: 380px;
}
#respond label {
    color: #777777;
    padding: 4px 0;
    font-size: 11px;
}
#respond .left {
    margin-right: 15px;
    float: left;
    width: 200px;
}
#commentform { margin: 10px 0 0 10px; }
#commentform input.txt,
#commentform textarea {
    border-color: #ccc #efefef #efefef #ccc;
    border-width: 1px;
    border-style: solid;
    font-size: inherit;
}
li.bypostauthor { background: none repeat scroll 0 0 #F8FDFF !important }
#commentform input.txt {
    background: #F9F9F9;
    width: 170px;
    color: #666;
    margin: 0 5px 10px 0;
    padding: 5px 7px;
}
#commentform textarea {
    width: 95%;
    height: auto;
}
#commentform #submit { margin: 15px 0 0 0 }
.form-allowed-tags {
font-size: 90%;
color: #777;
}
/* Pingsbacks */
h3#pings { margin: 25px 0 10px 0 }
.pinglist li {
    list-style-type: decimal;
    margin: 0 0 0 20px;
}
.pinglist li .pingcontent {
    margin: 10px 0;
    display: block;
}
.pinglist li .author {
    font-weight: bold;
    font-size: 15px;
}
.pinglist li .date { font-size: 11px }
p.form-allowed-tags { width: 70% }