/* ================ */
/* ! Post Formats   */
/* ================ */
.format-standard .posttitle,
.format-gallery .posttitle,
.format-video .posttitle,
.format-aside .posttitle, 
.format-link .posttitle,
.format-audio .posttitle {
padding-right: 40px;
}

.format-video {
background: url("../images/icons/post-format-video.png") no-repeat scroll 97% 8px transparent;
}

.format-link {
background: url("../images/icons/post-format-link.png") no-repeat scroll 100% 8px transparent;
}

.format-gallery {
background: url("../images/icons/post-format-gallery.png") no-repeat scroll 97% 8px transparent;
padding-right: 30px;
}

.format-audio {
background: url("../images/icons/post-format-audio.png") no-repeat scroll 97% 7px transparent;
}


.format-chat {
background: url("../images/icons/post-format-chat.png") no-repeat scroll 97% 8px transparent;
}

.format-status {
background: url("../images/icons/post-format-status.png") no-repeat scroll 97% 8px transparent;
}

.format-quote {
background: url("../images/icons/post-format-quote.png") no-repeat scroll 97% 8px transparent;
}

/* Post Meta Icons */
span.post-author,
span.post-category,
span.time-posted,
span.post-comments { margin-right: 10px }
span.post-author {
    background: url("../images/icons/black.png") no-repeat scroll -728px -1228px transparent;
    padding-left: 18px;
}
span.post-category {
    background: url("../images/icons/black.png") no-repeat scroll -3px -37px transparent;
    padding-left: 22px;
}
span.time-posted {
    background: url("../images/icons/black.png") no-repeat scroll -4px -1703px transparent;
    padding-left: 19px;
}
span.post-comments,
span.comments a {
    background: url("../images/icons/black.png") no-repeat scroll -724px -1089px transparent;
    float: right;
    padding-left: 22px;
    margin-right: 5px;
    border-right: 0 none;
}
span.post-tags {
    background: url("../images/icons/black.png") no-repeat scroll -1px -513px transparent;
    margin-right: 0;
    padding-left: 23px;
}
