/* Using some fancy CSS magic to add our icons */
#category-title:before,
#tag-title:before,
span.post-tags:before,
.post-meta-data *:before,
.post-title:before,
#author-description h3:before {
	font-weight: normal;
	font-family: "iconsweetsRegular";
	color: inherit;
	font-size: 130%;
	position: relative;
    top: 2px;
}
.post-top {
	padding-top: 0px;
}
/* Blog Icons */
#category-title:before {
	content: "L"
}
#tag-title:before,
span.post-tags:before {
	content: "."
}
#author-description h3:before {
	content: "a";
}
/* ================ */
/* ! Post Formats   */
/* ================ */
.format-quote .post-meta-data {
	display: none;
}
.format-quote .entry {
	border-left: 5px solid #EEEEEE;
    font-family: "Georgia",serif;
    font-size: 140%;
    line-height: 140%;
    margin-bottom: 18px;
    padding-left: 15px;
}

.post-title:before {
    background: none repeat scroll 0 0 #555555;
    border-radius: 50% 50% 50% 50%;
    color: #FFFFFF;
    float: right;
    font-size: 140%;
    padding: 0 0.8% 1.5%;
    position: relative;
    text-shadow: -1px 1px 0 #000000;
    top: -8px;
}

.format-video .post-title:before {
content: "F"
}

.format-link .post-title:before {
content: "Q"
}
.format-gallery .post-title:before {
content: "3"
}
.format-image .post-title:before {
content: "2"
}

.format-audio .post-title:before {
content: "4"
}

.format-chat .post-title:before {
content: '"'
}

.format-status .post-title:before {
content: "#"
}

.format-quote .post-title:before {
content: "'"
}

/* Post Meta Icons */
span.post-author:before {
	content: "d";
}
span.post-category:before {
	content: "L";
}
span.time-posted:before {
	content: "R"
}
span.post-comments:before,
span.comments a:before {
content: "#"
}