span.pie-easy-exts-options-ui-slider-label,
span.pie-easy-exts-options-ui-slider-values {
	font-size: 12px;
	font-weight: bold;
}
div.pie-easy-exts-options-ui-slider-widget {
	margin: 10px 0 15px 0;
}