
.icext-option.icext-ui-slider span.ice-title,
.icext-option.icext-ui-slider span.ice-content {
	font-size: 12px;
	font-weight: bold;
}
.icext-option.icext-ui-slider div.ice-controls {
	margin: 10px 0 15px 0;
}