
/**
 * @section admin
 */

div.pie-easy-exts-widgets-theme-picker div.ui-widget-content {
	text-align: center;
}
div.pie-easy-exts-widgets-theme-picker-dialog {
	display: none;
	height: 600px;
}
div.pie-easy-exts-widgets-theme-picker-dialog-list {
	height: 220px;
	width: 100%;
	overflow: auto;
}
div.pie-easy-exts-widgets-theme-picker-dialog-list-item {
	float: left;
	width: 200px;
	min-height: 200px;
	text-align: center;
}
div.pie-easy-exts-widgets-theme-picker-dialog-list-item-message {
	padding: 5px;
}
iframe.pie-easy-exts-widgets-theme-picker-dialog-preview {
	width: 100%;
	height: 500px;
	overflow: auto;
}